<h1 class="text-center">Agregar una provisión</h1>
<form #provisionForm="ngForm" (ngSubmit)="onSubmit(provisionForm)" class="w-75 mx-auto">
    <div class="row">

        <div class="form-group mb-3 col-sm-8 p-2">
            <label class="mb-1 data-user">(*)Elija una opción:</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="true"
                    checked (click)="addStock()">
                <label class="form-check-label" for="exampleRadios1">
                    Agregar stock
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" value="false" name="exampleRadios" id="exampleRadios2"
                    (click)="discountStock()">
                <label class="form-check-label" for="exampleRadios2">
                    Descontar stock
                </label>
            </div>
            <input [disabled]="articleProvider.add" [(ngModel)]="articleProvider.discountReason" id="discountReason"
                name="discountReason" #discountReason="ngModel" class="form-control" placeholder="Motivo descuento"
                type="text" />
        </div>
    </div>

    <p>
        <input type="submit" class="btn btn-primary mt-3" [disabled]="provisionForm.invalid" value="Crear" />
    </p>
</form>