

<div class="container-fluid d-flex row items-align-center">
    
    <div class="w-50 m-5 mt-0 p-2">

        <!-- COMPONENTE DE MERCADO PAGO -->
        <div id="cardPaymentBrick_container"></div>

        
      <!--  <ng-container *ngIf="subscriptionActive">
            <div class="alert alert-success">
                Pago efectuado correctamente
            </div>

            <a class="btn btn-primary" [routerLink]="['']">Regresar al inicio</a>
        </ng-container>-->
    </div>
    
    <div class="w-25 ml-auto">
        <app-cart-detail></app-cart-detail>
    </div>
</div>




<!--
<script>
  setTimeout(function() {

    // EJECUTAR METODO DEL .TS 
   
    
    const backendURL = "https://localhost:7032"; // Reemplaza con la URL de tu backend
    const endpoint = "/api/PurchasePayments/confirm-payment-mp";
    
    const mp = new MercadoPago('TEST-a14e30b8-57d4-45a9-9907-6e1f31a8cfe7', {
      locale: 'es-AR'
    });

    const bricksBuilder = mp.bricks();
    const renderCardPaymentBrick = async (bricksBuilder) => {
      const settings = {
        initialization: {
          // PROBAR SACAR EL MONTO DINAMICAMENTE DEL TOTAL DEL CARRITO
          amount: 100, // monto a ser pago
          payer: {
            email: "",
          },
        },
        customization: {
          visual: {
            style: {
              theme: 'default', // | 'dark' | 'bootstrap' | 'flat'
            }
          },
          paymentMethods: {
            maxInstallments: 12,
          }
        },
        callbacks: {
          onReady: () => {
            // callback llamado cuando Brick esté listo
          },
          onSubmit: (cardFormData) => {
            
            //  callback llamado cuando el usuario haga clic en el botón enviar los datos
            //  ejemplo de envío de los datos recolectados por el Brick a su servidor
            return new Promise((resolve, reject) => {
              fetch(`${backendURL}${endpoint}`, {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify(cardFormData)
              })
                .then((response) => {
                  // recibir el resultado del pago
                  resolve();
                })
                .catch((error) => {
                  // tratar respuesta de error al intentar crear el pago
                  reject();
                })
            });
          },
          onError: (error) => {
            // callback llamado para todos los casos de error de Brick
          },
        },
      };
      window.cardPaymentBrickController = await bricksBuilder.create('cardPayment', 'cardPaymentBrick_container', settings);
    };
    renderCardPaymentBrick(bricksBuilder);
  }, 100); // Cambia el valor de 2000 por el retraso en milisegundos que desees

</script>
-->









<!--
<div class="container-fluid d-flex row items-align-center">
    
    <div class="w-50 m-5 mt-0 p-2">
        <form novalidate (ngSubmit)="createToken()" [formGroup]="stripeTest" *ngIf="showCreateTokenForm">
            <input type="text" formControlName="name" class="form-control mb-2"
                placeholder="Nombre titular de la tarjeta">
            <ngx-stripe-card [options]="cardOptions" class="form-control mb-2" [elementsOptions]="elementsOptions">
            </ngx-stripe-card>
            <button type="submit" class="btn btn-primary mb-2">
                Confirmar
            </button>
        </form>

        <div *ngIf="showShipmentForm">
            <form>
                <p class="data-user">Desea que enviemos su producto: </p>
                <p class="data-user">
                    <input class="form-check-input" id="immediate-plan" type="radio" name="installment_plan"
                        (click)="selectIfHasShipment(true)" /> Si
                </p>
                <p class="data-user">
                    <input class="form-check-input" id="immediate-plan" type="radio" name="installment_plan"
                        (click)="selectIfHasShipment(false)" /> No
                </p>
            </form>
            <form *ngIf="hasShipment">
                <hr>
                <div id="plans" class="form-check">
                    <h3 class="data-user">Seleccione una direccion</h3>
                    <p class="data-user" *ngFor="let address of userAddresses.addresses"><input class="form-check-input"
                            id="immediate-plan" type="radio" name="installment_plan" (click)="selectAddress(address)" />
                        {{address.streetName}} {{address.streetNumber}} - {{address.townName}}, {{address.province}}
                    </p>
                </div>
            </form>
            <button class="btn btn-danger" (click)="comeBackInShipmentForm()">Regresar</button>
            <button class="btn btn-primary" (click)="confirmShipment()" [disabled]="!shipmentFormOk()">Siguiente</button>
        </div>

        <form id="installment-plan-form" *ngIf="showPlanSelectForm">
            <div id="plans" class="form-check">
                <p class="data-user" *ngFor="let plan of availablePlans"><input class="form-check-input"
                        id="immediate-plan" type="radio" name="installment_plan" (click)="selectPlan(plan)" />${{
                    (purchaseAmount / plan.count)
                    | number: '1.0-2' }} en
                    {{plan.count}} pago/s
                </p>
            </div>
            <button class="btn btn-danger" (click)="comeBackInPlanSelectForm()">Regresar</button>
            <button id="confirm-button" class="btn btn-warning" *ngIf="availablePlans.length > 0"
                (click)="confirmPayment()" [disabled]="!confirmPaymentFormOk()">Confirmar pago</button>
        </form>
        
        <ng-container *ngIf="subscriptionActive">
            <div class="alert alert-success">
                Pago efectuado correctamente
            </div>

            <a class="btn btn-primary" [routerLink]="['']">Regresar al inicio</a>
        </ng-container>
    </div>
    
    <div class="w-25 ml-auto">
        <app-cart-detail></app-cart-detail>
    </div>
</div>-->