<mat-progress-spinner *ngIf="isLoading" mode="indeterminate" class=" mt-5 mx-auto"></mat-progress-spinner>



<div class="container-fluid d-flex row items-align-center">
    
    <div *ngIf="!isLoading" class="w-25">
        <div *ngIf="showShipmentForm">
            <form>
                <p class="data-user"><b>¿Desea que enviemos su producto?:</b> </p>
                <p class="data-user">
                    <input class="form-check-input" id="immediate-plan" type="radio" name="installment_plan"
                        (click)="selectIfHasShipment(true)" /> Si
                </p>
                <p class="data-user">
                    <input class="form-check-input" id="immediate-plan" type="radio" name="installment_plan"
                        (click)="selectIfHasShipment(false)" /> No
                </p>
            </form>
            <form *ngIf="hasShipment">
                <hr>
                <div id="plans" class="form-check">
                    <h3 class="data-user"><b>Seleccione una dirección</b></h3>
                    <p class="data-user" *ngFor="let address of userAddresses.addresses"><input class="form-check-input"
                            id="immediate-plan" type="radio" name="installment_plan" (click)="selectAddress(address)" />
                        {{address.streetName}} {{address.streetNumber}} - {{address.townName}}, {{address.province}}
                    </p>
                </div>
            </form>
            <h3 class="data-user"><b>¡Los envíos se coordinan con los empleados!</b></h3>

        </div>
    </div>

    <div class="w-50 ml-auto mt-0 p-2">
       
        <script>
            import Swal from 'sweetalert2';
        </script>
        <!-- COMPONENTE DE MERCADO PAGO -->
        <div id="cardPaymentBrick_container"></div>

    </div>
    
   
</div>


