
<div class="table-responsive p-1" *ngIf="reparations.length > 0">
    <table matSort (matSortChange)="sortData($event)" class="table"  >
        <thead>
            <tr>
                <th mat-sort-header="ticket" scope="col">N° Ticket</th>
                <th mat-sort-header="employeeEmail" scope="col">Email empleado</th>
                <th mat-sort-header="clientEmail" scope="col">Cliente</th>
                <th mat-sort-header="date" scope="col">Fecha</th>
                <th mat-sort-header="clientDescription" scope="col">Descripción del servicio requerido según el cliente</th>
                <th mat-sort-header="employeeObservation" scope="col">Observación del Empleado</th>
                <th mat-sort-header="amount" scope="col">Monto mano de obra</th>
                <th scope="col">Artículos a utilizar</th>
                <th mat-sort-header="totalArticleAmount" scope="col">Monto total artículos</th>
                <th mat-sort-header="total" scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reparation of sortedData 
            | filter: searchText
            | paginate: 
            {
                itemsPerPage: this.paginate.recordsPerPage, 
                currentPage:this.paginate.page
            }; 
            let i = index">
                <th>
                    <span class="data-user">{{ reparation.id }}</span>
                </th>
                <th>
                    <span class="data-user">{{ reparation.employee.email }}</span>
                </th>
                <th>
                    <span class="data-user">{{ reparation.client.userName }}</span>
                </th>      
                <th>
                    <span class="data-user">{{reparation.date | date: 'dd/MM/yyyy'}} </span>
                </th>
                <th>
                    <span *ngIf="reparation.clientDescription === '' " class="text-secondary">No existe descripción</span>
                    <span class="data-user">{{ reparation.clientDescription }}</span>
                </th>
                <th>
                    <span *ngIf="reparation.employeeObservation === '' " class="text-secondary">No existe observación</span>
                    <span class="data-user">{{ reparation.employeeObservation }}</span>
                </th>
                <th>
                    <span class="data-user">${{ reparation.amount }}</span>
                </th>
                <th>
                    <span *ngIf="reparation.reparationsArticles.length == 0" class="text-secondary"> No contiene
                        articulos</span>
                    <span class="data-user" *ngFor="let reparationArticle of reparation.reparationsArticles" name="selectArticle">
                        {{reparationArticle.articleName}} <i class="bi bi-arrow-right"></i> 
                        ${{ reparationArticle.articlePriceAtTheMoment }} x {{ reparationArticle.articleQuantity}}
                    </span>
                </th>
                <th>
                    <span class="data-user">${{ reparation.totalArticleAmount }}</span>
                </th>
                <th>
                    <span class="data-user">${{ reparation.amount + reparation.totalArticleAmount  }}</span>
                </th>    
            </tr>

        </tbody>

    </table>
    <pagination-controls class="text-center data-user" (pageChange)="this.paginate.page = $event"
        previousLabel="Anterior" nextLabel="Siguiente" *ngIf="sortedData.length > quantityPageRecords">
    </pagination-controls>
</div>
<p class="alert alert-warning m-2 w-50 mx-auto" *ngIf="reparations.length === 0"><i class="bi bi-exclamation-circle-fill"></i> No existen reparaciones en este estado</p>