<h1 class="text-center">Crear reparacion</h1>
<form #reparationForm="ngForm" (ngSubmit)="onSubmit(reparationForm)" class="w-75 mx-auto">
    <div class="row">
        <div class="form-group mb-3 col-sm-6">
            <label for="client" class="m-1"><b>(*)Cliente: </b></label>
            <div class="row m-1">
                <a (click)="openDialogAdminCreateUser()" class="col-sm-1 btn text-white bg-primary" title="Crear usuario">
                    <i class="bi bi-person-plus-fill"></i>
                </a>
                <select class="form-select data-user w-75" name="selectArticle" [(ngModel)]="reparation.clientId">
                    <option class="data-user" name="client" *ngFor="let client of clients" [ngValue]="client.id">
                        {{client.userName}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group mb-3 col-sm-4">
            <label for="reparationState" class="m-1"><b>Estado de la reparacion: 
                <span  *ngIf="reparationsStates && reparationsStates[0] != null">{{ reparationsStates[0].name }}</span>
            </b></label>
        </div>
        <div class="form-group mb-3 col-sm-2">
            <label for="date" class="m-1"><b>Fecha: {{ reparation.date | date: 'shortDate'  }}</b></label>
        </div>
    </div>
    <div class="form-group">
        <label for="clientDescription" class="data-user">(*)Descripción del cliente:</label>
        <textarea class="form-control" id="clientDescription" name="clientDescription" #clientDescription="ngModel" [(ngModel)]="reparation.clientDescription" required></textarea>
    </div>

    <div class="form-group mt-3">
        <label for="employeeObservation" class="data-user">(*)Observación del Empleado:</label>
        <textarea class="form-control" id="employeeObservationclass" name="employeeObservationclass" #employeeObservationclass="ngModel" [(ngModel)]="reparation.employeeObservation" required></textarea>
    </div>
    <p>
        <input type="submit" class="btn btn-primary mt-3" [disabled]="reparationForm.invalid" value="Crear" />
    </p>

</form>