@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto', sans-serif !important;
}

.title{
    text-align: center !important;
    font-weight: bold !important;
    font-size: 1.6rem !important;
}

.bg-image{
    background-image: url('/../../../assets/images/background.jpg');
    background-attachment: fixed;
}

/* hr CUSTOMS */
.height-hr-3{
    height: 3px !important;
}


/* width CUSTOMS*/
.w-15{
    max-width: 15%;
}


/* buttons CUSTOMS */
.button-custom{
    background-color: #007BC1 !important;
    color: whitesmoke !important;
    font-size: 1.35rem !important;
    font-weight: bold !important;
}

.bg-custom-blue{
    background-color: #007BC1 !important;
    color: whitesmoke !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
