@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto', sans-serif !important;
}

.title{
    text-align: center !important;
    font-weight: bold !important;
    font-size: 1.6rem !important;
}

.bg-image{
    background-image: url('/../../../assets/images/background.jpg');
    background-attachment: fixed;
}

/* hr CUSTOMS */
.height-hr-3{
    height: 3px !important;
}


/* width CUSTOMS*/
.w-15{
    max-width: 15%;
}


/* buttons CUSTOMS */
.button-custom{
    background-color: #26a6ef !important;
    color: whitesmoke !important;
    font-size: 1.35rem !important;
    font-weight: bold !important;
}

.bg-custom-blue{
    background-color: #26a6ef !important;
    color: whitesmoke !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table{
    border: 3px solid black !important;
}

tr, td,th, thead{
    border: 1px solid #219dcbeb !important;
}

tr{
    box-shadow:inset 3px 3px 3px #26a6ef !important;
}

thead{
    background-color: black !important;
    color: white !important;
}

.btn-success{
    background-color: #629d81 !important;
}
.btn-success:hover{
    background-color: green !important;
}

.btn-danger:hover{
    background-color: #dc3545 !important;
}

.btn-danger{
    background-color: #e13142e0 !important;
}
