<div class="container-fluid">
    <div class="card p-3">
        <div class=" d-flex justify-content-end">
            <button class="btn btn-close mb-2" (click)="closeModal()" title="Cerrar"></button>
        </div>
        <h2 class="card-header data-user bg-dark text-white">Respuestas ({{ purchaseClaimAnswers.length }}): </h2>
        <div class="card-body" *ngFor="let purchaseClaimAnswer of purchaseClaimAnswers">
            <div class="card-text data-user">
                <i class="bi bi-hash"></i> {{purchaseClaimAnswer.answer}} 
            </div>
        </div>
    </div>
</div>