<div class="d-flex bg-light">
    <h2 class="mx-auto">LISTADO DE OFERTAS
        <button class="btn btn-dark padding-custom" (click)="generatePDF()">
            <i class="bi bi-filetype-pdf"></i>
          </button>
    </h2>
</div>
<div class="table-responsive" #content>
    <table matSort (matSortChange)="sortData($event)" class="table">
        <thead>
            <tr>
                <th scope="col">Articulo</th>
                <th mat-sort-header="discountPercentage" scope="col">Porcentaje Descuento</th>
                <th mat-sort-header="startDate" scope="col">Inicio</th>
                <th mat-sort-header="endDate" scope="col">Fin</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let offer of sortedData 
            | paginate: 
            {
                itemsPerPage: this.paginate.recordsPerPage, 
                currentPage:this.paginate.page
            }; let i = index">
                <th>
                    <select class="form-select data-user" name="selectArticle" [(ngModel)]="offer.articleId">
                        <option class="data-user" name="article" *ngFor="let article of articles"
                            [ngValue]="article.id">{{article.name}}
                        </option>
                    </select>
                </th>
                <td><input id="discount" name="discount" class="form-control" type="number" min="0" max="100"
                        #discount="ngModel" [(ngModel)]="offer.discountPercentage" required>
                </td>
                <td>
                    <span class="form-control">
                        {{offer.startDate | date: 'dd/MM/yyyy' }}
                    </span>
                    <input id="startDate" name="startDate" class="form-control" type="date" #startDate="ngModel"
                        [(ngModel)]="offer.startDate" required>
                </td>
                <td>
                    <span class="form-control">
                        {{offer.endDate | date: 'dd/MM/yyyy' }}
                    </span>
                    <input id="endDate" name="endDate" class="form-control" type="date" #endDate="ngModel"
                        [(ngModel)]="offer.endDate" required>
                </td>
                <td><button class="btn btn-primary col-sm-12" (click)="openDialogUpdate(offer)" title="Editar"> <i class="bi bi-pencil-square"></i>
                    </button>
                </td>
                <td><button class="btn btn-danger col-sm-12" (click)="openDialogDelete(offer.id)" title="Eliminar"> <i class="bi bi-trash-fill"></i>
                    </button>
                </td>
                
            </tr>
        </tbody>
    </table>
    <pagination-controls class="text-center data-user" (pageChange)="this.paginate.page = $event"
        previousLabel="Anterior" nextLabel="Siguiente" *ngIf="offers.length > 3">
    </pagination-controls>
</div>