<div class="bg-light">
    <h2 class="mx-auto">LISTADO DE PROVISIONES </h2>

    <app-searcher [isVisible]="articlesProviders.length > 0" (searchTextChange)="onSearchTextChange($event)"></app-searcher>
</div>

<div class="table-responsive" #content>
    <table matSort (matSortChange)="sortData($event)" class="table">
        <thead>
            <tr>
                <th mat-sort-header="providerEmail" scope="col">PROVEEDOR</th>
                <th mat-sort-header="provisionDate" scope="col">FECHA PROVISIÓN</th>
                <th mat-sort-header="operation" scope="col">OPERACIÓN</th>
                <th scope="col">ARTICULOS</th>
                <th scope="col">COMPROBANTE</th>
                <th scope="col">CARGAR COMPROBANTE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let articleProvider of sortedData
            | filter: searchText 
            | paginate: 
            {
                itemsPerPage: this.paginate.recordsPerPage, 
                currentPage:this.paginate.page
            };
            let i = index">
                <td>
                    <span class="data-user" disabled>
                        {{articleProvider.provider?.email}}
                    </span>
                </td>
                <td>
                    <span class="data-user" disabled>
                        {{articleProvider.provisionDate | date: 'dd/MM/yyyy' }}
                    </span>
                </td>
                <td>
                    <span *ngIf="articleProvider.add" class="data-user alert-success">
                        Stock agregado
                    </span>
                    <span *ngIf="!articleProvider.add" class="data-user alert-warning">
                        Stock descontado<br>
                        Motivo : {{ articleProvider.discountReason }}
                    </span>

                </td>

                <td>
                    <span *ngIf="articleProvider.articlesItems.length == 0" class="text-secondary"> No contiene
                        articulos</span>
                    <p *ngFor="let item of articleProvider.articlesItems" class="data-user">
                        {{ item.article.name }} x {{ item.articleQuantity }} Unidades
                    </p>
                </td>

                <td>
                    <a *ngIf="articleProvider.voucher" href="{{articleProvider.voucher}}" class="form-control voucher data-user" target="_blank">
                        <i class="bi bi-card-image"></i> Ver comprobante
                     </a>
                     <span *ngIf="!articleProvider.voucher">No existe un comprobante cargado para esta provisión.</span>
                </td>
                <td>
                    <input id="voucher" name="voucher" class="form-control" type="file" (change)="onChange($event, articleProvider)">
                    
                    <!-- <button class="btn btn-primary col-sm-12" (click)="openDialogUpdate(articleProvider)" title="Editar">
                        <i class="bi bi-pencil-square"></i>
                    </button> -->
                </td>
                <!-- <td>
                    <button class="btn btn-danger col-sm-12" (click)="openDialogDelete(articleProvider.id)" title="Eliminar">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </td> -->
            </tr>
        </tbody>
    </table>
    <pagination-controls class="text-center data-user" (pageChange)="this.paginate.page = $event"
        previousLabel="Anterior" nextLabel="Siguiente" *ngIf="articlesProviders.length > 6">
    </pagination-controls>
</div>
