<div *ngIf="this.statusSubmit == 'success'" class="alert alert-primary">
    Empresa actualizada correctamente
  </div>
  <div class="d-flex">
    <h2 class="mx-auto">LISTADO DE EMPRESAS DE TRANSPORTE</h2>
  </div>
  <div class="table-responsive">
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Url</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transportCompany of transportCompanies; let i = index">
          <td><input class="form-control data-user" pattern="^([ \u00c0-\u01ffa-zA-Z'\-])+$" [(ngModel)]="transportCompany.name" ></td>
          <td><input class="form-control data-user" [(ngModel)]="transportCompany.url" ></td>
          <td><button class="btn btn-success"  (click)="openDialogUpdate(transportCompany)"> <i class="bi bi-pencil-square"></i> </button></td>
          <td><button class="btn btn-danger" (click)="openDialogDelete(transportCompany.id)"> <i class="bi bi-trash-fill"></i> </button></td>
        </tr>
      </tbody>
    </table>
    
  </div>
