<div class="d-flex flex-column flex-md-row justify-content-between align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm bg-image" >
    <div class="my-2 my-md-0 mr-md-3 d-flex align-content-center w-15 flex-column m-1">
        <img src="../../../assets/images/megaherdt.jpg" class="img-fluid rounded" alt="Responsive image">
    </div>
    <nav class="my-2 my-md-0 mr-md-3 d-flex align-content-start flex-wrap">
        <a class="btn p-3 text-dark link-custom text-center border border-color-custom" [routerLink]="['']">
            <i class="bi bi-house"></i> Inicio 
        </a>
        <a *ngIf="!authenticated()" class="btn p-3 text-dark link-custom text-center border border-color-custom" [routerLink]="['register']">
            <i class="bi bi-person-plus"></i> Registro 
        </a>
        <a *ngIf="!authenticated()" class="btn p-3 text-dark link-custom text-center border border-color-custom" [routerLink]="['login']">
            <i class="bi bi-box-arrow-in-right"></i> Login 
        </a>
        <a class="btn p-3 text-dark link-custom text-center border border-color-custom" [routerLink]="['reparation/record']" *ngIf="authenticated()">
            <i class="bi bi-clock-history"></i> Historial de reparaciones
        </a>

        <a class="btn p-3 text-dark link-custom text-center border border-color-custom" [routerLink]="['user/settings']" *ngIf="authenticated()">
            <i class="bi bi-person-fill"></i> Ajustes de usuario
        </a>
        
        <a class="btn p-3 text-dark link-custom text-center border border-color-custom" [routerLink]="['administrate']" *ngIf="authenticated() && isEmployeeOrAdmin()">
            <i class="bi bi-list-task"></i> Administrar
        </a>
        
    </nav>
    <div class="my-2 my-md-0 mr-md-3 d-flex row flex-column flex-md-row align-items-center flex-wrap flex-row m-3">
        <a class="p-3 btn btn-outline-danger link-custom text-center border border-color-custom" [routerLink]="['logout']" *ngIf="authenticated()">
            <i class="bi bi-box-arrow-left"></i> Logout
        </a>
    </div>
</div>