<div class="modal-header d-flex justify-content-end">
    <button
      type="button"
      class="btn-close"
      (click)="closeModal()"
      title="Cerrar"
    ></button>
  </div>
  
  <div class="container-fluid">
    <p
      class="alert bg-custom-light d-flex my-2 my-md-0 mr-md-3 d-flex align-content-center"
    >
      <b>Agregar artículo a la reparación</b>
    </p>
  
    <div class="form-group mb-3 d-flex row mt-3">
        <div class="col">
            <label for="article"><b>Seleccione articulos: </b></label>
            <select class="form-select data-user mt-2" name="selectReparationState"
                [(ngModel)]="reparationArticle.articleId">
                <option class="data-user" name="article" *ngFor="let article of articles" [ngValue]="article.id">
                    {{article.name}}
                </option>
            </select>
        </div>
        <div class="form-group mb-3 col">
            <label for="articleQuantity"><b>Cantidad de articulo: </b></label>
            <input id="articleQuantity" name="articleQuantity" class="form-control mt-2" type="number" min="1"
                #articleQuantity="ngModel" [(ngModel)]="reparationArticle.articleQuantity" required>
            <span *ngIf="articleQuantity.touched && !articleQuantity.valid" class="text-danger">Ingrese un numero
                valido</span>
        </div>
    </div>
   
    <div class="d-flex justify-content-end flex-md-row flex-wrap">
      <button
        [disabled]="disableAcceptButton()"
        class="btn btn-primary d-flex p-2 m-2"
        (click)="confirm()"
      >
        Aceptar
      </button>
      <button class="btn btn-danger d-flex p-2 m-2" (click)="closeModal()">
        Cancelar
      </button>
    </div>
  </div>
  