.btn{
    padding: 0.1rem 0.2rem !important;
}
.mt-4{
    margin-top: 2rem!important;
}

.btn-submit{
    height: 55%;
}

.h-40{
    height: 40% !important;
}

.user-credentials{
    border-right: 1px solid gray;
}