<div class="container-fluid" *ngIf="authenticated()">
  <h2>Actualizar datos</h2>
  <hr class="height-hr-3 mb-0"><br>
  <form #updateForm="ngForm" (ngSubmit)="onSubmit(updateForm)">
    <div class="row">
      <div class="col-md-6 user-credentials">
        <div class="row">
          <div class="form-group mb-3 col">
            <label for="username"><b>Username:</b></label>
            <input disabled class="form-control" type="text" value="{{ getUserName() }}" />
          </div>

          <div class="form-group mb-3 col">
            <label for="email"><b>Email:</b></label>
            <input class="form-control" type="email" name="email" [email]="true" #email="ngModel"
              [(ngModel)]="user.email" />
            <span *ngIf="email.touched && !email.valid" class="text-danger">Ingrese un email valido</span>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="dni"><b>(*)DNI:</b></label>
          <input class="form-control" type="text" name="dni" #dni="ngModel" [(ngModel)]="user.dni" required
            minlength="8" maxlength="8" pattern="[0-9]{8}" />
          <span *ngIf="dni.touched && !dni.valid" class="text-danger">Ingrese un DNI valido, debe contener 8
            numeros</span>
        </div>

        <div class="row">
          <div class="form-group col-sm-6 mb-3">
            <label for="name"><b>(*)Nombre:</b></label>
            <input class="form-control" type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required />
            <span *ngIf="name.touched && !name.valid" class="text-danger">Ingrese un nombre valido</span>
          </div>

          <div class="form-group col-sm-6 mb-3">
            <label for="surname"><b>(*)Apellido:</b></label>
            <input class="form-control" type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname"
              required />
            <span *ngIf="surname.touched && !surname.valid" class="text-danger">Ingrese una apellido valido</span>
          </div>
        </div>
        <hr class="height-hr-3">
        <div class="row">
          <div class="col-md-6 mb-2" *ngIf="user.phones.length == 0">
            <h2 class="text-center">Agregar telefono</h2>
            <label for="phone"><b>(*)Telefono:</b></label>
            <div class="d-flex flex-row">
              <div role="alert" class="w-100 m-1">
                <button type="button" class="btn btn-warning"
                    popover="Ingrese al menos un telefono">
                    <i class="bi bi-exclamation-diamond"></i>
                </button>
              </div>
              <input class="form-control col-sm-4 h-40" type="text" name="phoneNumber" placeholder="Agregar telefono"
                #number="ngModel" [(ngModel)]="phoneNumber" pattern="(^[0-9]+)" minlength="5" />
              
            </div>
            <span *ngIf="number.touched && !number.valid" class="text-danger">Ingrese un numero de telefono
              valido</span>
          </div>
          <div class="col-md-6">
            <div *ngIf="user.phones.length > 0">
              <h2 class="text-center">Telefonos cargados</h2>
              <div *ngFor="let phone of user.phones; let i = index;">
                <p>
                  <app-phone-update [phone]="phone"></app-phone-update>
                  <button (click)="removePhone(i)" class="btn btn-danger mb-3">
                    <i class="bi bi-x-circle"></i>
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div *ngIf="user.addresses.length == 0">
         
          
          <h2 class="text-center d-flex flex-row justify-content-center">
            <div role="alert">
              <button type="button" class="btn btn-warning"
                  popover="Ingrese al menos una direccion">
                  <i class="bi bi-exclamation-diamond"></i>
              </button>
            </div>
            Agregar direccion
          </h2>
       
          <app-address-creation [address]="this.newAddress" class="col-md-6">
          </app-address-creation>
        </div>
        <div *ngIf="user.addresses.length > 0">
          <h2 class="text-center">Direcciones cargadas</h2>
          <div *ngFor="let address of user.addresses; let i = index;">
            <app-address-update [address]="address"></app-address-update>
            <button (click)="removeAddress(i)" class="btn btn-danger mt-3 mb-3">
              <i class="bi bi-x-circle"></i>
            </button>
          </div>
        </div>
      </div>

      <hr class="height-hr-3 mt-2">
      <div class="d-flex flex-row mb-2 w-50">
        <div class="mt-1" role="alert">
          <button type="button" class="btn btn-warning w-100"
              popover="Ingrese su contraseña antes de actualizar">
              <i class="bi bi-exclamation-diamond"></i>
          </button>
        </div>
        <label for="password" class="text-center m-2"><b>(*)Password:</b></label>
        <div class="col-sm-6 m-1">
          <input class="form-control" type="password" name="password" #password="ngModel" [(ngModel)]="user.password"
            required minlength="5" placeholder="Ingrese su contraseña" />
          <span *ngIf="password.touched && !password.valid" class="text-danger">Ingrese una contraseña valida</span>
        </div>
        <input class="col-sm-1 btn btn-primary m-1" type="submit" value="Enviar"
          [disabled]="!updateForm.form.valid" />
      </div>
    </div>


    <p *ngIf="statusSubmit === 'failed'" class="alert alert-danger m-1">Error al actualizar el usuario: <span
        class="data-user">{{ error }}</span></p>
    <p *ngIf="!addressOk" class="alert alert-danger m-3">Ingrese una direccion valida</p>
    <p *ngIf="!phoneOk" class="alert alert-danger m-3">Ingrese un numero telefono</p>
    <p *ngIf="statusSubmit == 'success'" class="alert alert-success mt-3">Se actualizo correctamente</p>

  </form>

</div>