
<div class="bg-light">
  <h2 class="mx-auto">LISTADO DE CATEGORIAS</h2>

  <app-searcher [isVisible]="categories.length > 0" (searchTextChange)="onSearchTextChange($event)"></app-searcher>
</div>

<div class="table-responsive">
<table class="table" #content>
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories 
      | filter: searchText
      | paginate: 
      {
          itemsPerPage: this.paginate.recordsPerPage, 
          currentPage:this.paginate.page
      }; let i = index">
        <td><input class="form-control data-user" pattern="^([ \u00c0-\u01ffa-zA-Z'\-])+$" value="{{category.name}}" [(ngModel)]="category.name" ></td>
        <td><button class="btn btn-primary col-sm-12"  (click)="openDialogUpdate(category)" title="Editar"> <i class="bi bi bi-check-lg"></i> </button></td>
        <td><button class="btn btn-danger col-sm-12" (click)="openDialogDelete(category.id)" title="Eliminar"> <i class="bi bi-x-lg"></i> </button></td>
      </tr>
    </tbody>
  </table>
  <pagination-controls class="text-center data-user" (pageChange)="this.paginate.page = $event"
        previousLabel="Anterior" nextLabel="Siguiente" *ngIf="categories.length > 6">
    </pagination-controls>
</div>
