
<div class="d-flex bg-light">
  <h2 class="mx-auto">LISTADO DE CATEGORIAS 
    <button class="btn btn-dark padding-custom" (click)="generatePDF()">
      <i class="bi bi-filetype-pdf"></i>
    </button>
  </h2>
  
</div>
<div class="table-responsive">
<table class="table" #content>
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories| paginate: 
      {
          itemsPerPage: this.paginate.recordsPerPage, 
          currentPage:this.paginate.page
      }; let i = index">
        <td><input class="form-control data-user" pattern="^([ \u00c0-\u01ffa-zA-Z'\-])+$" value="{{category.name}}" [(ngModel)]="category.name" ></td>
        <td><button class="btn btn-primary col-sm-12"  (click)="openDialogUpdate(category)" title="Editar"> <i class="bi bi-pencil-square"></i> </button></td>
        <td><button class="btn btn-danger col-sm-12" (click)="openDialogDelete(category.id)" title="Eliminar"> <i class="bi bi-trash-fill"></i> </button></td>
      </tr>
    </tbody>
  </table>
  <pagination-controls class="text-center data-user" (pageChange)="this.paginate.page = $event"
        previousLabel="Anterior" nextLabel="Siguiente" *ngIf="categories.length > 6">
    </pagination-controls>
</div>