<div class="container-fluid">
    <div class="alert bg-light d-flex align-items-center rounded-0" role="alert">
      <span class="bi bi-exclamation-triangle-fill text-warning mr-2"></span>
      <p class="m-0 fw-bold">¿Estás seguro de que deseas eliminar tu perfil?</p>
    </div>
    <div class="d-flex justify-content-end mt-3">
      <button class="btn btn-danger btn-soft" (click)="confirm()">Eliminar</button>
      <button class="btn btn-outline-secondary mr-2" (click)="closeModal()">Cancelar</button>
    </div>
  </div>