<div class="d-flex">
    <h2 class="mx-auto">LISTADO DE RECLAMOS</h2>
</div>
<div class="container-fluid">
    <p *ngIf="reparationClaims.length == 0" class="alert alert-warning">No tiene reclamos para mostrar</p>
    <div class="table-responsive" *ngIf="reparationClaims.length != 0">
        <table matSort (matSortChange)="sortData($event)" class="table">
            <thead>              
                <tr>
                    <th mat-sort-header="description" scope="col">Descripcion reclamo</th>
                    <th mat-sort-header="date" scope="col">Fecha emision</th>
                    <th mat-sort-header="employeeEmail" scope="col">Email empleado</th>
                    <th mat-sort-header="clientEmail" scope="col">Email cliente</th>
                    <th mat-sort-header="answered" scope="col">Respondido</th>
                    <th scope="col">Ver reparacion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reparationClaim of sortedData 
                | paginate: 
                {
                    itemsPerPage: this.paginate.recordsPerPage, 
                    currentPage:this.paginate.page
                }; 
                let i = index">
                    <th>
                        <span class="data-user">{{ reparationClaim.description }}</span>
                    </th>
                    <th>
                        <span class="data-user">{{ reparationClaim.date | date: 'dd/MM/yyyy' }}</span>
                    </th>
                    <th>
                        <span class="data-user">{{ reparationClaim.reparation.employee.email }}</span>
                    </th>
                    <th>
                        <span class="data-user">{{ reparationClaim.reparation.client.email }}</span>
                    </th>
                    <th>
                        <span class="data-user text-primary" *ngIf="reparationClaim.answered"> SI 
                            <button class="btn btn-primary" (click)="openDialogClaimAnswers(reparationClaim.id)"><i class="bi bi-eye-fill text-dark"></i></button>
                        </span>
                        <span class="data-user text-danger" *ngIf="!reparationClaim.answered">NO</span>
                    </th>
                    <th>
                        <button class="btn btn-primary" (click)="openDialog(reparationClaim.reparation)"><i class="bi bi-eye-fill text-dark"></i></button>
                    </th>
                    
                </tr>
            </tbody>
        </table>
        <pagination-controls class="text-center data-user" (pageChange)="this.paginate.page = $event"
            previousLabel="Anterior" nextLabel="Siguiente" *ngIf="reparationClaims.length > 6">
        </pagination-controls>
    </div>
</div>