<h1 class="text-center">Agregar una provisión</h1>
<form #provisionForm="ngForm" (ngSubmit)="onSubmit(provisionForm)" class="w-75 mx-auto">
   

    
    
    <div class="row">
        <div class="form-group mb-3 col-md-4">
            <label for="provider"><b>(*)Proveedor: </b></label>
            <select class="form-select data-user" name="selectProvider" [(ngModel)]="articleProvider.providerId">
                <option class="data-user" name="provider" *ngFor="let provider of providers" [ngValue]="provider.id">
                    {{provider.email}}
                </option>
            </select>
        </div>
    
        <div class="form-group mb-3 col-md-3">
            <label for="provisionDate"><b>(*)Fecha de provisión: </b></label>
            <input id="provisionDate" name="provisionDate" class="form-control" type="date" #provisionDate="ngModel"
                [(ngModel)]="articleProvider.provisionDate" required>
            <span *ngIf="provisionDate.touched && !provisionDate.valid" class="text-danger">Ingrese una fecha válida</span>
        </div>

        <div class="form-group mb-3 col-md-5">
            <label for="voucher"><b>Comprobante: </b></label>
            <input id="voucher" name="voucher" class="form-control" type="file" (change)="onChange($event)">
        </div>
    </div>

    <p>
        <button type="button" (click)="agregarItemProvision()" class="btn btn-primary mt-3">Agregar items</button>
    </p>

    <div class="table-responsive w-75 text-center mx-auto">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Artículo</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio de Compra</th>
              <th scope="col">Total</th>
              <th scope="col">N° de Serie</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of articleProvider.articlesItems; 
                let i = index">
              <td>
                <span class="data-user">{{ item.article?.name }}</span>
              </td>
              <td>
                <span class="data-user">{{ item.articleQuantity }}</span>
              </td>
              <td>
                <span class="data-user">{{ item.purchasePrice }}</span>
              </td>
              <td>
                <span class="data-user">{{ item.articleQuantity * item.purchasePrice }}</span>
              </td>
              <td>
                <button type="button" class="btn btn-primary col-sm-12" (click)="showSerialNumbers(item.serialNumbers)" title="Editar">
                    <i class="bi bi-pencil-square"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>


    <p>
        <input type="submit" class="btn btn-primary mt-3" [disabled]="provisionForm.invalid" value="Crear" />
    </p>
</form>