<div clas="container-fluid">
    <div class="row">

        <div class="col-md-4" *ngFor="let user of users | paginate: 
        {
            itemsPerPage: this.paginate.recordsPerPage, 
            currentPage:this.paginate.page
        }">
            <app-user-detail-administrate [user]="user"></app-user-detail-administrate>
        </div>

        <pagination-controls class="text-center"
        (pageChange)="this.paginate.page = $event" 
        previousLabel="Anterior" 
        nextLabel="Siguiente">
        </pagination-controls>
    </div>
</div>
