<div class="container-fluid">
    <div class="table-responsive">
        <table class="table" *ngIf="purchases.length != 0">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Email cliente</th>
                    <th scope="col">Articulos</th>
                    <th scope="col">Estado</th>
                    <!-- <th scope="col">Envio</th> -->
                    <th scope="col">Agregar Envio</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let purchase of purchases | paginate: 
                {
                    itemsPerPage: this.paginate.recordsPerPage, 
                    currentPage:this.paginate.page
                }">
                    <th>
                        <span class="data-user">{{purchase.date | date: 'dd/MM/yyyy'}} </span>
                    </th>
                    <th>
                        <span class="data-user">{{purchase.client.email}} </span>
                    </th>
                    <th>
                        <span *ngIf="purchase.purchasesArticles.length == 0" class="text-secondary"> No contiene
                            articulos</span>
                        <p *ngFor="let purchaseArticle of purchase.purchasesArticles" class="data-user">
                            {{ purchaseArticle.article.name }} x {{ purchaseArticle.articleQuantity }}
                             <!-- VER NUMEROS DE SERIE DE LOS ARTICULOS -->
                         <button type="button" class="btn btn-primary col-sm-2" 
                                (click)="showSerialNumbers(purchaseArticle.serialNumbers)"  
                                title="Ver numeros de serie">
                            <i class="bi bi-eye"></i>
                        </button>
                        </p> 
                    </th>

                    <th>
                        <span class="data-user">{{getPurchaseState(purchase.state)}} </span>
                    </th>
                    <!-- <th>
                        <span *ngIf="purchase.shipment == null" class="text-secondary">
                            Esta compra no posee envío
                        </span>
                        <span *ngIf="purchase.shipment != null && purchase.shipment.transportCompany == null" class="text-secondary">
                            No se ha asignado un envío aún
                        </span>
                        <span *ngIf="purchase.shipment != null && purchase.shipment.transportCompany != null" class="data-user">
                          <b> Dirección: </b> {{purchase.shipment.address.streetName}}
                           {{purchase.shipment.address.streetNumber}} - {{purchase.shipment.address.townName}},
                           {{purchase.shipment.address.province}}

                           <hr>

                           <b> Empresa de Transporte: </b> {{purchase.shipment.transportCompany.name}}
                        
                           <hr>

                           <b> Monto: </b> {{ purchase.shipment.amount }}
                        </span>
                    </th> -->
                    <th>
                        <button *ngIf="purchase.shipment != null && purchase.shipment.transportCompany == null" 
                             class="btn btn-primary" 
                             [routerLink]="['purchase', purchase.id, 'assign-shipment']" > 
                             <i class="bi bi-plus-circle"></i> 
                        </button>
                        <p class="font-weight-normal" *ngIf="purchase.shipment != null && purchase.shipment.transportCompany != null"> 
                            Ya se encuentran definido el envío para esta compra
                            <i class="bi bi-check-lg font-weight-bold text-success"></i>
                        </p>
                        <p class="text-secondary" *ngIf="purchase.shipment == null"> Esta compra no posee envío </p>
                    </th>
                </tr>
            </tbody>
        </table>
        <pagination-controls class="text-center data-user"
        (pageChange)="this.paginate.page = $event" 
        previousLabel="Anterior" 
        nextLabel="Siguiente"
        *ngIf="purchases.length > 6">
        </pagination-controls>
    </div>
</div>