<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>LISTADO DE ESTADOS DE REPARACIONES</th><th></th><th></th><th></th>
            </tr>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">#</th>
            <th scope="col">#</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reparationState of reparationsStates; let i = index">
            <th scope="row">{{ i }}</th>
            <td><input class="form-control" pattern="^([ \u00c0-\u01ffa-zA-Z'\-])+$" [(ngModel)]="reparationState.name" ></td>
            <td><button class="btn btn-success"  (click)="openDialog(reparationState)"> <i class="bi bi-pencil-square"></i> </button></td>
            <td><button class="btn btn-danger" (click)="deleteReparationState(reparationState.id)"> <i class="bi bi-trash-fill"></i> </button></td>
          </tr>
        </tbody>
      </table>
      
    </div>