<div class="d-flex">
    <div class="input-group mb-3 w-50 searcher" *ngIf="articlesProviders.length > 0">
        <div class="input-group-prepend">
          <div class="input-group-text lens">
            <i class="bi bi-search"></i>
          </div>
        </div>
        <input class="form-control w-50 input-search" type="text" [(ngModel)]="searchText" placeholder="Buscar provisiones">
    </div>
  </div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Articulo</th>
                <th scope="col">Cantidad proveída</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Fecha provision</th>
                <th scope="col">Operacion</th>
                <th scope="col">Numeros de serie</th>
                <th scope="col">Comprobante</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let articleProvider of articlesProviders
            | filter: searchText 
            | paginate: 
            {
                itemsPerPage: this.paginate.recordsPerPage, 
                currentPage:this.paginate.page
            };
            let i = index">
                <th>
                    <input id="article" name="article" class="form-control data-user"
                    #article="ngModel" [(ngModel)]="articleProvider.article.name" disabled required>
                </th>
                <td>
                    <input id="articleQuantity" name="articleQuantity" class="form-control data-user" type="number" min="0"
                        #articleQuantity="ngModel" [(ngModel)]="articleProvider.articleQuantity" disabled required>
                </td>
                <td>
                    <input id="provider" name="article" class="form-control data-user"
                    #provider="ngModel" [(ngModel)]="articleProvider.provider.email" disabled required>
                </td>
                <td>
                    <span class="form-control data-user disabled">
                        {{articleProvider.provisionDate | date: 'dd/MM/yyyy' }}
                    </span>
                </td>
                <td>
                    <span *ngIf="articleProvider.add" class="form-control data-user alert-success">
                        Stock agregado
                    </span>
                    <span *ngIf="!articleProvider.add" class="form-control data-user alert-warning">
                        Stock descontado<br>
                        Motivo : {{ articleProvider.discountReason }}
                    </span>

                </td>
                <td>
                    <span *ngFor="let serialNumber of articleProvider.serialNumbers" class="form-control data-user alert-success">
                        {{serialNumber.serialNumber}}
                    </span>
                </td>
                <td>
                   
                    <a href="{{articleProvider.voucher}}" class="form-control voucher data-user" target="_blank">
                        <i class="bi bi-card-image"></i> Ver comprobante
                     </a>
                
                    <input id="voucher" name="voucher" class="form-control" type="file" (change)="onChange($event, articleProvider)">
                </td>
                <td>
                    <button class="btn btn-primary col-sm-12" (click)="openDialogUpdate(articleProvider)" title="Editar">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger col-sm-12" (click)="openDialogDelete(articleProvider.id)" title="Eliminar">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls class="text-center data-user" (pageChange)="this.paginate.page = $event"
        previousLabel="Anterior" nextLabel="Siguiente" *ngIf="articlesProviders.length > 6">
    </pagination-controls>
</div>