<div class="bg-light">
    <h2 class="mx-auto">LISTADO DE PROVISIONES
        <button class="btn btn-dark padding-custom" (click)="generatePDF()">
            <i class="bi bi-filetype-pdf"></i>
        </button>
    </h2>

    <app-searcher [isVisible]="articlesProviders.length > 0" (searchTextChange)="onSearchTextChange($event)"></app-searcher>
</div>

<div class="table-responsive" #content>
    <table matSort (matSortChange)="sortData($event)" class="table">
        <thead>
            <tr>
                <th mat-sort-header="providerEmail" scope="col">Proveedor</th>
                <th mat-sort-header="provisionDate" scope="col">Fecha provisión</th>
                <th mat-sort-header="operation" scope="col">Operación</th>
                <th scope="col">Comprobante</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let articleProvider of sortedData
            | filter: searchText 
            | paginate: 
            {
                itemsPerPage: this.paginate.recordsPerPage, 
                currentPage:this.paginate.page
            };
            let i = index">
                <td>
                    <span class="data-user" disabled>
                        {{articleProvider.provider.email}}
                    </span>
                </td>
                <td>
                    <span class="data-user" disabled>
                        {{articleProvider.provisionDate | date: 'dd/MM/yyyy' }}
                    </span>
                </td>
                <td>
                    <span *ngIf="articleProvider.add" class="data-user alert-success">
                        Stock agregado
                    </span>
                    <span *ngIf="!articleProvider.add" class="data-user alert-warning">
                        Stock descontado<br>
                        Motivo : {{ articleProvider.discountReason }}
                    </span>

                </td>

                <td>
                   
                    <a href="{{articleProvider.voucher}}" class="form-control voucher data-user" target="_blank">
                        <i class="bi bi-card-image"></i> Ver comprobante
                     </a>
                
                    <input id="voucher" name="voucher" class="form-control" type="file" (change)="onChange($event, articleProvider)">
                </td>
                <td>
                    <button class="btn btn-primary col-sm-12" (click)="openDialogUpdate(articleProvider)" title="Editar">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger col-sm-12" (click)="openDialogDelete(articleProvider.id)" title="Eliminar">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls class="text-center data-user" (pageChange)="this.paginate.page = $event"
        previousLabel="Anterior" nextLabel="Siguiente" *ngIf="articlesProviders.length > 3">
    </pagination-controls>
</div>