<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>LISTADO DE PROVISIONES</th> <th></th> <th></th><th></th><th></th><th></th><th></th><th></th><th></th>
            </tr>
            <tr>
                <th scope="col">Articulo</th>
                <th scope="col">Cantidad proveída</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Fecha provision</th>
                <th scope="col">Operacion</th>
                <th scope="col">Numeros de serie</th>
                <th scope="col">Comprobante</th>
                <th scope="col">#</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let articleProvider of articlesProviders; let i = index">
                <th>
                    <!--
                    <select class="form-select data-user" name="selectArticle" [(ngModel)]="articleProvider.article.id" disabled>
                        <option class="data-user" name="article" *ngFor="let article of articles"
                            [ngValue]="article.id">{{article.name}}
                        </option>
                    </select>
                    -->
                    <input id="article" name="article" class="form-control data-user"
                    #article="ngModel" [(ngModel)]="articleProvider.article.name" disabled required>
                </th>
                <td>
                    <input id="articleQuantity" name="articleQuantity" class="form-control data-user" type="number" min="0"
                        #articleQuantity="ngModel" [(ngModel)]="articleProvider.articleQuantity" disabled required>
                </td>
                <td>
                    <!--
                    <select class="form-select data-user" name="selectArticle" [(ngModel)]="articleProvider.provider.id">
                        <option class="data-user" name="provider" *ngFor="let provider of providers"
                            [ngValue]="provider.id">{{provider.email}}
                        </option>
                    </select>
                    -->
                    <input id="provider" name="article" class="form-control data-user"
                    #provider="ngModel" [(ngModel)]="articleProvider.provider.email" disabled required>
                </td>
                <td>
                    <span class="form-control data-user disabled">
                        {{articleProvider.provisionDate | date: 'dd/MM/yyyy' }}
                    </span>
                </td>
                <td>
                    <span *ngIf="articleProvider.add" class="form-control data-user alert-success">
                        Stock agregado
                    </span>
                    <span *ngIf="!articleProvider.add" class="form-control data-user alert-warning">
                        Stock descontado<br>
                        Motivo : {{ articleProvider.discountReason }}
                    </span>

                </td>
                <td>
                    <span *ngFor="let serialNumber of articleProvider.serialNumbers" class="form-control data-user alert-success">
                        {{serialNumber.serialNumber}}
                    </span>
                </td>
                <td>
                   
                    <a href="{{articleProvider.voucher}}" class="form-control voucher data-user" target="_blank">
                        <i class="bi bi-card-image"></i> Ver comprobante
                     </a>
                
                    <input id="voucher" name="voucher" class="form-control" type="file" (change)="onChange($event, articleProvider)">
                </td>
                <td>
                    <button class="btn btn-success" (click)="openDialogUpdate(articleProvider)">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="openDialogDelete(articleProvider.id)">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>