<div class="row justify-content-around align-content-center p-2 mx-auto">    

  <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let article of articles 
  | filter: searchText
  | paginate: 
  {
      itemsPerPage: this.paginate.recordsPerPage, 
      currentPage:this.paginate.page
  } 
  ">

    <app-article-item [article]="article" 
    >
    </app-article-item>

  </div>
  <pagination-controls class="text-center data-user"
  (pageChange)="this.paginate.page = $event" 
  previousLabel="Anterior" 
  nextLabel="Siguiente"
  *ngIf="articles.length > paginationRange">
  </pagination-controls>

</div>