<div class="input-group mb-3 w-50 searcher mx-auto">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i class="bi bi-search"></i>
      </div>
    </div>
    <input class="form-control w-50 mx-auto input-search" type="text" [(ngModel)]="searchText" placeholder="Buscar articulos">
</div>

<div class="row">    


    <div class="col-md-4" *ngFor="let article of articles 
    | filter: searchText
    | paginate: 
    {
        itemsPerPage: this.paginate.recordsPerPage, 
        currentPage:this.paginate.page
    } 
    ">

    <app-article-item [article]="article" 
    >
    </app-article-item>

    </div>
    <pagination-controls class="text-center data-user"
    (pageChange)="this.paginate.page = $event" 
    previousLabel="Anterior" 
    nextLabel="Siguiente"
    *ngIf="articles.length > 6">
    </pagination-controls>

</div>