<div class=" d-flex justify-content-end">
    <button class="btn btn-close" (click)="closeModal()"></button>
</div>
<hr>
<h1 class="text-center">Descargar archivos del backup</h1>

<a href={{data.urlDatabaseZip}} class="btn btn-primary m-2">
    <i class="bi bi-download"></i> Base de datos
</a>
<br>
<a href={{data.urlArticlesZip}} class="btn btn-primary m-2">
    <i class="bi bi-download"></i> Imagenes de articulos
</a>
<br>
<a href={{data.urlArticlesProvidersZip}} class="btn btn-primary m-2">
    <i class="bi bi-download"></i> Comprobantes provisiones
</a>

