<div class="card text-center m-1 border border-dark">
    
    <div class="card-body row">
        <div class="col-sm-6 border-right">
            <img src="../../../../assets/images/user-image.png" class="card-img-top d-flex align-items-start">
            <p class="card-text d-flex align-items-start flex-column flex-md-row data-user badge badge-success text-center mt-1 col-sm-8" *ngIf="user.isActive">
                Usuario activo
            </p>
            <p class="card-text d-flex align-items-start flex-column flex-md-row data-user badge badge-danger text-center mt-1 col-sm-9" *ngIf="!user.isActive">
                Usuario inactivo
            </p>
            <p class="card-text d-flex fw-bold">Ultimo acceso: {{ user.lastLogin | date: 'dd/MM/yyyy'  }}</p>
            <p class="card-text d-flex fw-bold">
                Creación: {{ user.createdDate | date: 'dd/MM/yyyy'  }}
            </p>
        </div>
        <div class="col-sm-6">
            <p class="card-title d-flex flex-column flex-md-row data-user" *ngIf="user.email !== user.userName">Username: {{user.userName }}</p>
            <p class="card-title d-flex flex-column flex-md-row data-user">Nombre: {{user.name | uppercase}}</p>
            <p class="card-text d-flex flex-column flex-md-row data-user">Apellido: {{user.surname | uppercase}}</p>
            <p class="card-text d-flex flex-column flex-md-row data-user">DNI: {{ user.dni }}</p>
            <p class="card-text d-flex flex-column flex-md-row data-user text-start" *ngIf="user.email !== ''">Email: {{ user.email }}</p>
            <p class="card-text d-flex flex-column data-user text-start" *ngIf="user.roles.length > 0">
                Roles: {{user.roles.join(', ')}}
            </p>
            <div class="d-flex flex-column flex-md-row justify-content-end align-items-end mt-5">
                <a class="btn link-custom" [routerLink]="['edit-role-user', user.userName]">MODIFICAR ROLES</a>
            </div>
        </div>
       
    </div>
  </div>