<li role="menuitem">
    <a *ngIf="isAdmin()" [routerLink]="['administrate/show-users']" class="dropdown-item btn text-dark link-custom border border-color-custom">
        <i class="bi bi-list"></i> Administrar usuarios
    </a>
</li>
<li role="menuitem">
    <a [routerLink]="['administrate/administrate-categories']" class="dropdown-item btn text-dark link-custom border border-color-custom">
        <i class="bi bi-list"></i> Categorias
    </a>
</li>
<li role="menuitem">
    <a [routerLink]="['administrate/administrate-brands']" class="dropdown-item btn text-dark link-custom border border-color-custom">
        <i class="bi bi-list"></i> Marcas
    </a>
</li>
<li role="menuitem">
    <a [routerLink]="['administrate/administrate-providers']" class="dropdown-item btn text-dark link-custom border border-color-custom">
        <i class="bi bi-list"></i> Proveedores
    </a>
</li>
<li role="menuitem">
    <a [routerLink]="['administrate/administrate-articles']" class="dropdown-item btn text-dark link-custom border border-color-custom">
        <i class="bi bi-list"></i> Articulos
    </a>
</li>
<li role="menuitem">
    <a [routerLink]="['administrate/administrate-offers']" class="dropdown-item btn text-dark link-custom border border-color-custom">
        <i class="bi bi-list"></i> Ofertas
    </a>
</li>
<li role="menuitem">
    <a [routerLink]="['administrate/administrate-provisions']" class="dropdown-item btn text-dark link-custom border border-color-custom">
        <i class="bi bi-list"></i> Provisiones
    </a>
</li>
<li role="menuitem">
    <a [routerLink]="['administrate/administrate-reparation-states']" class="dropdown-item btn text-dark link-custom border border-color-custom">
        <i class="bi bi-list"></i> Estados de reparaciones
    </a>
</li>
<li role="menuitem">
    <a [routerLink]="['administrate/administrate-reparations']" class="dropdown-item btn text-dark link-custom border border-color-custom">
        <i class="bi bi-list"></i> Reparaciones
    </a>
</li>
<li role="menuitem">
    <a [routerLink]="['administrate/administrate-transport-companies']" class="dropdown-item btn text-dark link-custom border border-color-custom">
        <i class="bi bi-list"></i> Companias de transporte
    </a>
</li>
<li role="menuitem">
    <a [routerLink]="['administrate/administrate-purchases-shipments']" class="dropdown-item btn text-dark link-custom border border-color-custom">
        <i class="bi bi-list"></i> Envios de compra
    </a>
</li>
<li role="menuitem">
    <a [routerLink]="['administrate/show-reparation-claims']" class="dropdown-item btn text-dark link-custom border border-color-custom">
        <i class="bi bi-envelope-exclamation-fill"></i> Ver reclamos de reparaciones
    </a>
</li>
<li role="menuitem">
    <a [routerLink]="['administrate/show-purchase-claims']" class="dropdown-item btn text-dark link-custom border border-color-custom">
        <i class="bi bi-envelope-exclamation-fill"></i> Ver reclamos de compras
    </a>
</li>
