<div class="container-fluid">
    <div class="row mb-3">
        <a *ngIf="isAdmin()" [routerLink]="['show-users']" class="btn button-custom btn-lg active btn-block col-md-6 mx-auto">
            <i class="bi bi-list"></i> Administrar usuarios
        </a>   
    </div>
    <div class="row mb-3">
        <a *ngIf="isEmployeeOrAdmin()" [routerLink]="['administrate-categories']" class="btn button-custom btn-lg active btn-block col-md-6 mx-auto">
            <i class="bi bi-list"></i> Administrar categorias
        </a>   
    </div>
    <div class="row mb-3">
        <a *ngIf="isEmployeeOrAdmin()" [routerLink]="['administrate-brands']" class="btn button-custom btn-lg active btn-block col-md-6 mx-auto">
            <i class="bi bi-list"></i> Administrar marcas
        </a>   
    </div>
    <div class="row mb-3">
        <a *ngIf="isEmployeeOrAdmin()" [routerLink]="['administrate-providers']" class="btn button-custom btn-lg active btn-block col-md-6 mx-auto">
            <i class="bi bi-list"></i> Administrar proveedores
        </a>   
    </div>
    <div class="row mb-3">
        <a *ngIf="isEmployeeOrAdmin()" [routerLink]="['administrate-articles']" class="btn button-custom btn-lg active btn-block col-md-6 mx-auto">
            <i class="bi bi-list"></i> Administrar articulos
        </a>   
    </div>
    <div class="row mb-3">
        <a *ngIf="isEmployeeOrAdmin()" [routerLink]="['administrate-offers']" class="btn button-custom btn-lg active btn-block col-md-6 mx-auto">
            <i class="bi bi-list"></i> Administrar ofertas
        </a>   
    </div>
    <div class="row mb-3">
        <a *ngIf="isEmployeeOrAdmin()" [routerLink]="['administrate-provisions']" class="btn button-custom btn-lg active btn-block col-md-6 mx-auto">
            <i class="bi bi-list"></i> Administrar provisiones
        </a>   
    </div>
    <div class="row mb-3">
        <a *ngIf="isEmployeeOrAdmin()" [routerLink]="['administrate-reparation-states']" class="btn button-custom btn-lg active btn-block col-md-6 mx-auto">
            <i class="bi bi-list"></i> Administrar estados de reparaciones
        </a>   
    </div>
    <div class="row mb-3">
        <a *ngIf="isEmployeeOrAdmin()" [routerLink]="['administrate-reparations']" class="btn button-custom btn-lg active btn-block col-md-6 mx-auto">
            <i class="bi bi-list"></i> Administrar reparaciones
        </a>   
    </div>
</div>
