<li role="menuitem">
    <a *ngIf="isAdmin()" [routerLink]="['administrate/show-users']" class="dropdown-item">
        Administrar usuarios
    </a>
</li>
<li><hr class="dropdown-divider"></li>
<li role="menuitem">
    <a [routerLink]="['administrate/administrate-categories']" class="dropdown-item">
        Categorías
    </a>
</li>
<li><hr class="dropdown-divider"></li>
<li role="menuitem">
    <a [routerLink]="['administrate/administrate-brands']" class="dropdown-item">
        Marcas
    </a>
</li>
<li><hr class="dropdown-divider"></li>
<li role="menuitem">
    <a [routerLink]="['administrate/administrate-providers']" class="dropdown-item">
        Proveedores
    </a>
</li>
<li><hr class="dropdown-divider"></li>
<li role="menuitem" dropdown triggers="mouseover" placement="bottom right" container="body" class="btn-group dropend">      
    <a id="button-nested" type="button" dropdownToggle
            class="btn d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none dropdown-toggle"
            aria-controls="dropdown-basic">
            Artículos <span class="caret"></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu text-small shadow" role="menu" aria-labelledby="button-basic">
            <li role="menuitem" >
                <a [routerLink]="['administrate/administrate-articles/create']" class="dropdown-item">
                    Crear
                </a>
            </li>
            <li role="menuitem">
                <a [routerLink]="['administrate/administrate-articles/edit']" class="dropdown-item">
                    Editar
                </a>
            </li>
            <li role="menuitem">
                <a [routerLink]="['administrate/administrate-offers']" class="dropdown-item">
                    Ofertas
                </a>
            </li>
            <li role="menuitem">
                <a [routerLink]="['administrate/administrate-provisions']" class="dropdown-item">
                    Provisiones
                </a>
            </li>
        </ul>

</li>
<li><hr class="dropdown-divider"></li>
<li role="menuitem">
    <a [routerLink]="['administrate/administrate-transport-companies']" class="dropdown-item">
        Companías de transporte
    </a>
</li>
<li><hr class="dropdown-divider"></li>
<li role="menuitem" dropdown triggers="mouseover" placement="bottom right" container="body" class="btn-group dropend">
    <a id="button-nested" type="button" dropdownToggle
            class="btn d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none dropdown-toggle"
            aria-controls="dropdown-basic">
            Reparaciones <span class="caret"></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu text-small shadow" role="menu" aria-labelledby="button-basic">
            <li role="menuitem" >
                <a [routerLink]="['administrate/administrate-reparations/create']" class="dropdown-item">
                    Crear
                </a>
            </li>
            <li role="menuitem">
                <a [routerLink]="['administrate/administrate-reparations/edit/INGRESO']" class="dropdown-item">
                    Editar
                </a>
            </li>
           <!-- <li role="menuitem">
                <a [routerLink]="['administrate/administrate-reparation-states']" class="dropdown-item">
                    Estados
                </a>
            </li>-->
            <li><hr class="dropdown-divider"></li>
            <li role="menuitem">
                <a [routerLink]="['administrate/show-reparation-claims']" class="dropdown-item">
                    <i class="bi bi-envelope-exclamation-fill"></i> Ver reclamos
                </a>
            </li>
        </ul>
</li>
<li><hr class="dropdown-divider"></li>
<li role="menuitem" dropdown triggers="mouseover" placement="bottom right" container="body" class="btn-group dropend">
    <a id="button-nested" type="button" dropdownToggle
            class="btn d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none dropdown-toggle"
            aria-controls="dropdown-basic">
            Compras <span class="caret"></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu text-small shadow" role="menu" aria-labelledby="button-basic">
            <li role="menuitem" >
                <a [routerLink]="['administrate/administrate-purchases-shipments']" class="dropdown-item">
                    Compras y Envíos 
                </a>
            </li>
            
            <li><hr class="dropdown-divider"></li>
            
            <li role="menuitem">
                <a [routerLink]="['administrate/show-purchase-claims']" class="dropdown-item">
                    <i class="bi bi-envelope-exclamation-fill"></i> Ver reclamos
                </a>
            </li>
        </ul>    
</li>
<li><hr class="dropdown-divider"></li>
<li role="menuitem">
    <a [routerLink]="['administrate/show-debtors']" class="dropdown-item btn">
        Deudores
    </a>
</li>
<li><hr class="dropdown-divider"></li>
<li role="menuitem">
    <a [routerLink]="['administrate/show-income-expenses']" class="dropdown-item btn">
        Ingresos y egresos
    </a>
</li>
<li><hr class="dropdown-divider"></li>
<li role="menuitem">
    <a (click)="openDialogBackup()" class="dropdown-item btn">
         Hacer respaldo
    </a>
</li>