<div class="container-fluid bg-image mt-5">
    <footer class="pt-4 my-md-5 pt-md-5">
        <div class="row">
          
          <div class="col-6 col-md">
            <h3>Catedra</h3>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Taller de Integracion</a></li>      
            </ul>
          </div>
          <div class="col-6 col-md">
            <h3>Institucion</h3>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Universidad Autonoma De Entre Rios</a></li>         
            </ul>
          </div>
          <div class="col-6 col-md">
            <h3>Desarrolladores</h3>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Dreher, Franco</a></li>
              <li><a class="text-muted" href="#">Zappala, Tomas</a></li>         
            </ul>
          </div>
        </div>
        </footer>
</div>
