<div class="container-fluid">
    <p *ngIf="purchases.length == 0" class="alert alert-warning">No tiene compras para mostrar</p>
    <div class="table-responsive">
        <table class="table" *ngIf="purchases.length != 0">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Articulos</th>
                    <th scope="col">Envio</th>
                    <th scope="col">Reclamar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let purchase of purchases | paginate: 
                {
                    itemsPerPage: this.paginate.recordsPerPage, 
                    currentPage:this.paginate.page
                }">
                    <th>
                        <span class="data-user">{{purchase.date | date: 'dd/MM/yyyy'}} </span>
                    </th>
                    <th>
                        <span *ngIf="purchase.purchasesArticles.length == 0" class="text-secondary"> No contiene
                            articulos</span>
                        <p *ngFor="let purchaseArticle of purchase.purchasesArticles" class="data-user">
                            {{ purchaseArticle.article.name }} x {{ purchaseArticle.articleQuantity }}
                        </p>
                    </th>
                    <th>
                        <span *ngIf="purchase.shipment == null" class="text-secondary">
                            Esta compra no posee envío
                        </span>
                        <span *ngIf="purchase.shipment != null && purchase.shipment.transportCompany == null"
                            class="text-secondary">
                            No se ha asignado un envío aún
                        </span>
                        <div *ngIf="purchase.shipment != null && purchase.shipment.transportCompany != null"
                            class="data-user">
                            <p class="d-flex row">Direccion: {{purchase.shipment.address.streetName}}
                                {{purchase.shipment.address.streetNumber}} - {{purchase.shipment.address.townName}},
                                {{purchase.shipment.address.province}}</p>
                            <a href="{{purchase.shipment.transportCompany.url}}/{{purchase.shipment.trackingNumber}}">
                                <p class="row"> URL de seguimiento </p>
                            </a>
                        </div>
                    </th>
                    <th>
                        <button class="btn btn-danger" [routerLink]="['purchase', purchase.id, 'claim']">
                            <i class="bi bi-exclamation-circle-fill"></i>
                        </button>
                        <div>
                            <button type="button" class="btn btn-warning mt-1"
                                *ngIf="purchase.purchasesClaims.length > 0"
                                matTooltipPosition="above"
                                matTooltip="{{ purchase.purchasesClaims.length }} reclamo/s efectuado/s de esta compra">
                                <i class="bi bi-exclamation-diamond"></i>
                            </button>
                        </div>
                    </th>
                </tr>
            </tbody>
        </table>
        <pagination-controls class="text-center data-user" (pageChange)="this.paginate.page = $event"
            previousLabel="Anterior" nextLabel="Siguiente" *ngIf="purchases.length > 4">
        </pagination-controls>
    </div>
</div>