<div class="container-fluid">
    <p class="alert alert-danger" *ngIf="statusSubmit == 'failed' "> Error al efectuar el reclamo </p>
    <p class="alert alert-success" *ngIf="statusSubmit == 'success' "> El reclamo se efectuo correctamente </p>
      <h1 class="text-center">Hacer reclamo</h1>
  <form #reparationClaimForm="ngForm" (ngSubmit)="onSubmit(reparationClaimForm)" class="w-50 mx-auto">
    <div class="form-group mb-3">
      <label for="claim"><b>Descripcion del reclamo: </b></label>
      <textarea id="claim" required  placeholder="Ingrese su reclamo" minlength="1" name="claim" class="form-control" #claim="ngModel" [(ngModel)]="description">
      </textarea>
        <span *ngIf="claim.touched && !claim.valid" class="text-danger">Ingrese una descripcion valida</span>
    </div>  
    <p>
      <input type="submit" class="btn btn-primary mt-3" [disabled]="reparationClaimForm.invalid" value="Enviar"/>
    </p> 
  </form>
  
  </div>