<h1 class="text-center">Actualizar reparacion (estado actual: EN REVISION)</h1>
<form #reparationForm="ngForm" class="w-75 mx-auto">
    <div class="row">
        <div class="row">
            <div class="form-group mb-3 col-sm-5">
                <label for="client" class="m-1"><b>Cliente: </b></label>
                    <span class="form-control data-user">{{reparation.client.userName}}</span>
            </div>

            <div class="form-group mb-3 col-sm-3">
                <label for="reparationState" class="m-1"><b>Estado de la reparacion: </b></label>
                <span class="form-control data-user" >{{
                    reparation.reparationState.name }}</span>
            </div>
   
        </div>
        
        <hr class="m-2">

        <div class="row mt-2">
            <div class="form-group col-sm-8">
                <label for="employeeObservation" class="data-user">(*)Observacion del empleado:</label>
                <textarea class="form-control" id="employeeObservation" name="employeeObservation" #employeeObservation="ngModel"
                    [(ngModel)]="reparation.employeeObservation" required></textarea>
            </div>  
        </div>
        <div class="form-group col-sm-4 mt-3">
            <label for="amount"><b>(*)Monto mano de obra: </b></label>
            <input id="amount" name="amount" class="form-control" type="number" min="0" #amount="ngModel"
                [(ngModel)]="reparation.amount" required>
            <span *ngIf="amount.touched && !amount.valid" class="text-danger">Ingrese un numero valido</span>
        </div>

        <div class="form-group mb-3 d-flex row mt-3">
            <div class="col">
                <label for="article"><b>Seleccione articulos: </b></label>
                <select class="form-select data-user mt-2" name="selectReparationState"
                    [(ngModel)]="reparationArticle.articleId">
                    <option class="data-user" name="article" *ngFor="let article of articles" [ngValue]="article.id">
                        {{article.name}}
                    </option>
                </select>
            </div>
            <div class="form-group mb-3 col">
                <label for="articleQuantity"><b>Cantidad de articulo: </b></label>
                <input id="articleQuantity" name="articleQuantity" class="form-control mt-2" type="number" min="1"
                    #articleQuantity="ngModel" [(ngModel)]="reparationArticle.articleQuantity" required>
                <span *ngIf="articleQuantity.touched && !articleQuantity.valid" class="text-danger">Ingrese un numero
                    valido</span>
            </div>
            <div class="form-group col mt-4">
                <a class="btn btn-primary"(click)="addArticleReparation()">
                    <i class="bi bi-plus-circle-fill"></i>
                </a>
            </div>
        </div>

        <div class="form-group mb-3" *ngIf="reparation.reparationsArticles.length > 0">
            <h3><b>Articulos agregados: </b></h3>
            <div *ngFor="let reparationArticle of reparation.reparationsArticles">
                <b>{{reparationArticle.articleName}} {{reparationArticle.articleQuantity}}</b>
            </div>
        </div>

        <div class=" d-flex justify-content-end flex-md-row flex-wrap">
            <button class="btn btn-danger d-flex p-2 m-2" (click)="closeModal()">Cancelar</button>
            <button class="btn btn-success d-flex p-2 m-2 " [disabled]="reparationForm.invalid" (click)="confirm()">Aceptar</button>
        </div>
    </div>
</form>