
<div class="table-responsive p-1" *ngIf="reparations.length > 0">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Email empleado</th>
                <th scope="col">Email cliente</th>
                <th scope="col">Fecha</th>
                <th scope="col">Estado</th>
                <th scope="col">Descripcion del servicio requerido segun el cliente</th>
                <th scope="col">Observacion del Empleado</th>
                <th scope="col">Monto mano de obra</th>
                <th scope="col">Articulos a utilizar</th>
                <th scope="col">Monto total articulos</th>
                <th scope="col">Total</th>
                <th scope="col">Facturada</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reparation of reparations 
            | filter: searchText
            | paginate: 
            {
                itemsPerPage: this.paginate.recordsPerPage, 
                currentPage:this.paginate.page
            }; 
            let i = index">
                <th>
                    <span class="data-user">{{ reparation.employee.email }}</span>
                </th>
                <th>
                    <span class="data-user">{{ reparation.client.userName }}</span>
                </th>      
                <th>
                    <span class="data-user">{{reparation.date | date: 'dd/MM/yyyy'}} </span>
                </th>
                <th>
                    <span class="data-user">{{ reparation.reparationState.name }}</span>
                </th>        
                <th>
                    <span *ngIf="reparation.clientDescription === '' " class="text-secondary">No existe descripción</span>
                    <span class="data-user">{{ reparation.clientDescription }}</span>
                </th>
                <th>
                    <span *ngIf="reparation.employeeObservation === '' " class="text-secondary">No existe observación</span>
                    <span class="data-user">{{ reparation.employeeObservation }}</span>
                </th>
                <th>
                    <span class="data-user">${{ reparation.amount }}</span>
                </th>
                <th>
                    <span *ngIf="reparation.reparationsArticles.length == 0" class="text-secondary"> No contiene
                        articulos</span>
                    <span class="data-user" *ngFor="let reparationArticle of reparation.reparationsArticles" name="selectArticle">
                        {{reparationArticle.articleName}} <i class="bi bi-arrow-right"></i> 
                        ${{ reparationArticle.articlePriceAtTheMoment }} x {{ reparationArticle.articleQuantity}}
                    </span>
                </th>
                <th>
                    <span class="data-user">${{ reparation.totalArticleAmount }}</span>
                </th>
                <th>
                    <span class="data-user">${{ reparation.amount + reparation.totalArticleAmount  }}</span>
                </th>    
                <th>
                    <span class="data-user" *ngIf="reparation.facturada">Si</span>
                    <span class="data-user" *ngIf="!reparation.facturada">No</span>
                </th>  
                <td>
                    <button class="btn btn-primary col-sm-12" title="Editar" (click)="openDialogUpdate(reparation)" [disabled]="this.userAuthenticated.email !== reparation.employee.email"> <i
                            class="bi bi-pencil-square"></i></button>
                </td>
            </tr>

        </tbody>

    </table>
    <pagination-controls class="text-center data-user" (pageChange)="this.paginate.page = $event"
        previousLabel="Anterior" nextLabel="Siguiente" *ngIf="reparations.length > 2">
    </pagination-controls>
</div>
<p class="alert alert-warning m-2 w-50 mx-auto" *ngIf="reparations.length === 0"><i class="bi bi-exclamation-circle-fill"></i> No existen reparaciones en este estado</p>