.serial-number-list {
    max-height: 200px; /* Limita la altura del menú desplegable */
    overflow-y: auto; /* Agrega un scroll vertical si se excede la altura */
}

.dropdown-menu {
    padding: 0.5rem 0; /* Añade un poco de espacio alrededor de los elementos del menú */
}

.dropdown-item {
    padding: 0.25rem 1.5rem; /* Ajusta el espaciado interno de los elementos del menú */
}

.dropdown-toggle {
    width: 100%; /* Ajusta el ancho del botón para ocupar todo el contenedor */
}

@media (max-width: 768px) {
    .dropdown-toggle {
        width: auto; /* Cambia el ancho del botón a automático en pantallas pequeñas */
    }
}
