<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <app-article-list [articles]="articles" 
            (cartEvent)="receiveCartEvent($event)" 
            (articlesEvent)="receiveArticlesEvent($event)" 
            (totalEvent)="receiveTotalEvent()"
            >
        </app-article-list>
        </div>
       
        <div class="col-md-4">
            <app-cart [cartArticles]="cartArticles"
            [articles]="articles"
            (emptyCartEvent)="receiveEmptyCartEvent($event)"
            [total]="total"
            >
            </app-cart>
        </div>

    </div>
</div>