<div class="container-fluid">
    <div class="card p-3">
        <div class="modal-header d-flex justify-content-end">
            <button type="button" class="btn-close" (click)="closeModal()" title="Cerrar"></button>
        </div>
        <hr>
        <div class="d-inline-block">
            <div class="card-text float-left ">
                <p class="data-user text-primary">Articulos: </p>
                <p class="data-user mb-3" *ngFor="let purchaseArticle of data.purchasesArticles">{{purchaseArticle.article.name}}</p>
                <p class="data-user mb-3"> Fecha de compra: {{data.date | date: 'dd/MM/yyyy'}}</p>
                <p class="data-user mb-3">Total: {{ total }}</p>
            </div>
        </div>
       
    </div>
   
</div>
