<div class="container-fluid">
    <div class="card p-3">
        <div class=" d-flex justify-content-end">
            <button class="btn btn-primary d-flex p-2 m-2" (click)="closeModal()"><i class="bi bi-x-lg"></i></button>
        </div>
        <div class="card-text">
            <p class="data-user text-primary">Articulos: </p>
            <p class="data-user" *ngFor="let purchaseArticle of data.purchasesArticles">{{purchaseArticle.article.name}}</p>
            <hr>
            <p class="data-user"> Fecha de compra: {{data.date | date: 'dd/MM/yyyy'}}</p>
            <hr>
            <p class="data-user">Total: {{ total }}</p>
        </div>
    </div>
   
</div>
