.searcher{
    border-style: ridge;
    border-color: #007BC1 !important;
    box-shadow: 3px 3px 3px black !important;
}

.col-custom{
    width: 19% !important;
}

.h-searcher{
    height: 7% !important;
}

.p-searcher{
    --bs-gutter-x: 0rem !important;
}