<h1 class="text-center">Actualizar reparacion (estado actual: REPARADO)</h1>
<form #reparationForm="ngForm" class="w-100">
    <div class="row">
        <div class="form-group mb-3 col">
            <label for="client" class="m-1"><b>Cliente: </b></label>
            <span class="form-control data-user">{{reparation.client.userName}}</span>
        </div>

        <div class="form-group mb-3 col">
            <label for="reparationState" class="m-1"><b>Estado de la reparacion: </b></label>
            <span class="form-control data-user">{{
                reparation.reparationState.name }}</span>
        </div>
    </div>

    <hr class="m-2">

    <div class="row">
        <h3 class="data-user">Facturación: </h3>
        <div class="form-group mb-3 col-sm-4">
            <label for="billNumber"><b>(*)Numero de factura: </b></label>
            <input id="billNumber" name="billNumber" class="form-control" type="number" #billNumber="ngModel"
                [(ngModel)]="reparation.bill.number" required min="1">
            <span *ngIf="billNumber.touched && !billNumber.valid" class="text-danger">Ingrese un numero valido</span>
        </div>

        <div class="form-group mb-3 col-sm-4">
            <label for="billType"><b>(*)Tipo de factura: </b></label>
            <select class="form-select data-user" name="selectBillType" [(ngModel)]="reparation.bill.type">
                <option class="data-user" name="billType" [ngValue]="billTypes.A" selected>{{billTypes.A}}</option>
                <option class="data-user" name="billType" [ngValue]="billTypes.B">{{billTypes.B}}</option>
                <option class="data-user" name="billType" [ngValue]="billTypes.C">{{billTypes.C}}</option>
                <option class="data-user" name="billType" [ngValue]="billTypes.RECIBO">{{billTypes.RECIBO}}</option>
            </select>
        </div>
    </div>
    <div class=" d-flex justify-content-end flex-md-row flex-wrap">
        <button class="btn btn-danger d-flex p-2 m-2" (click)="closeModal()">Cancelar</button>
        <button class="btn btn-primary d-flex p-2 m-2 " [disabled]="reparationForm.invalid" (click)="confirm()">Aceptar</button>
    </div>

</form>