<h1 class="text-center">Recuperar cuenta</h1>
<form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit(forgetPasswordForm)" class="w-50 mx-auto">
  <div class="form-group mb-3">
    <label for="email"><b>Email: </b></label>
    <input id="email" placeholder="Ingrese su email" class="form-control" type="text" formControlName="email">
    <span *ngIf="forgetPasswordForm.touched && forgetPasswordForm.controls['email'].invalid" class="text-danger">
      Ingrese un email valido
    </span>
  </div>
  <p class="alert alert-warning">Se enviará una nueva contraseña a su email</p>
    <p *ngIf="statusSubmit == 'failed'" class="alert alert-danger">Error al enviar la peticion</p>
    <p *ngIf="statusSubmit == 'success'" class="alert alert-success">Revise su email, hemos enviado la nueva contraseña</p>
    <input type="submit" class="btn btn-primary mt-1" [disabled]="forgetPasswordForm.invalid" value="Entrar"/>
</form>