
<div class="table-responsive p-1" *ngIf="reparations.length > 0">
    <table matSort (matSortChange)="sortData($event)" class="table table-striped">
        <thead>
            <tr>
                <th mat-sort-header="ticket" scope="col">N° Ticket</th>
                <th mat-sort-header="employeeEmail" scope="col">Email empleado</th>
                <th mat-sort-header="clientEmail" scope="col">Cliente</th>
                <th mat-sort-header="date" scope="col">Fecha</th>
                <th mat-sort-header="clientDescription" scope="col">Descripcion del cliente</th>
                <th mat-sort-header="employeeObservation" scope="col">Observación del empleado</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reparation of sortedData 
            | filter: searchText
            | paginate: 
            {
                itemsPerPage: this.paginate.recordsPerPage, 
                currentPage:this.paginate.page
            }; 
            let i = index">
                <th>
                    <span class="data-user">{{ reparation.id }}</span>
                </th>
                <th>
                    <span class="data-user">{{ reparation.employee.email.substring(0, 25) }}</span>
                    <span *ngIf="reparation.employee.email.length > 25">...</span>
                </th>
                <th>
                    <span class="data-user">{{ reparation.client.userName.substring(0, 25) }}</span>
                    <span *ngIf="reparation.client.userName.length > 25">...</span>
                </th>      
                <th>
                    <span class="data-user">{{reparation.date | date: 'dd/MM/yyyy'}} </span>
                </th>
                <th>
                    <span *ngIf="reparation.clientDescription === '' " class="text-secondary">No existe descripción</span>
                    <span class="data-user">{{ reparation.clientDescription.substring(0, 25) }}</span>
                    <span *ngIf="reparation.clientDescription.length > 25">...</span>
                </th>
                <th>
                    <span *ngIf="reparation.employeeObservation === '' " class="text-secondary">No existe observación</span>
                    <span class="data-user">{{ reparation.employeeObservation.substring(0, 25) }}</span>
                    <span *ngIf="reparation.employeeObservation.length > 25">...</span>
                </th>
                <td>
                    <button class="btn link-custom" title="Editar" (click)="openDialogUpdate(reparation)" [disabled]="this.userAuthenticated.email !== reparation.employee.email"> <i
                            class="bi bi-pencil-square text-primary"></i></button>
                </td>
            </tr>

        </tbody>

    </table>
    <pagination-controls class="text-center data-user" (pageChange)="this.paginate.page = $event"
        previousLabel="Anterior" nextLabel="Siguiente" *ngIf="sortedData.length > quantityPageRecords">
    </pagination-controls>
</div>
<p class="alert alert-warning m-2 w-50 mx-auto" *ngIf="reparations.length === 0"><i class="bi bi-exclamation-circle-fill"></i> No existen reparaciones en este estado</p>