<div class="bg-light mx-3">
    <h2 class="d-flex mx-auto">HISTORIAL DE REPARACIONES</h2>

    <app-searcher [isVisible]="reparations.length > 0" 
        [secondaryContainerCssClass]="'col-md-5'"
        (searchTextChange)="onSearchTextChange($event)">
    </app-searcher>
</div>

<div class="container-fluid">
    <p *ngIf="reparations.length == 0" class="alert alert-warning">No tiene reparaciones para mostrar</p>
    <div class="table-responsive" #content>
        <table matSort (matSortChange)="sortData($event)" class="table" *ngIf="reparations.length != 0">
            <thead>
                <tr>
                    <th scope="col">Articulos</th>
                    <th mat-sort-header="employeeEmail" scope="col">Email Empleado</th>
                    <th mat-sort-header="clientEmail" scope="col">Email cliente</th>
                    <th mat-sort-header="amount" scope="col">Monto mano de obra</th>
                    <th mat-sort-header="totalArticleAmount" scope="col">Monto articulos</th>
                    <th mat-sort-header="total" scope="col">Total</th>
                    <th mat-sort-header="date" scope="col">Fecha</th>
                    <th mat-sort-header="reparationState" scope="col">Estado</th>
                    <th mat-sort-header="billNumber" scope="col">Numero de factura</th>
                    <th mat-sort-header="billType" scope="col">Tipo de factura</th>
                    <th scope="col">Reclamar</th>
                    <th scope="col">Presupuesto</th>
                    <th scope="col">Pagar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reparation of sortedData 
                | filter: searchText
                | paginate: 
                {
                    itemsPerPage: this.paginate.recordsPerPage, 
                    currentPage:this.paginate.page
                }">
                    <th>
                        <span *ngIf="reparation.reparationsArticles.length == 0" class="text-secondary"> No contiene
                            articulos</span>
                        <span *ngFor="let article of reparation.reparationsArticles" class="data-user">
                            {{ article.articleName }} x {{ article.articleQuantity }}
                        </span>
                    </th>
                    <th>
                        <span class="data-user">{{ reparation.employee.email }}</span>
                    </th>
                    <th>
                        <span class="data-user">{{ reparation.client.email }}</span>
                    </th>
                    <th>
                        <span>{{ reparation.amount }}</span>
                    </th>
                    <th>
                        <span>{{ reparation.totalArticleAmount }}</span>
                    </th>
                    <th>
                        <span>{{ reparation.totalArticleAmount + reparation.amount }}</span>
                    </th>
                    <th>
                        <span class="data-user">{{reparation.date | date: 'dd/MM/yyyy'}} </span>
                    </th>
                    <th>
                        <span>{{ reparation.reparationState.name }}</span>
                    </th>
                    <th>
                        <span class="data-user" *ngIf="reparation.bill !== null">{{ reparation.bill.number }}</span>
                    </th>
                    <th>
                        <span class="data-user" *ngIf="reparation.bill !== null">{{ reparation.bill.type }}</span>
                    </th>
                    <th>
                        <button class="btn btn-danger w-100" [routerLink]="['reparation', reparation.id, 'claim']"> 
                            <i class="bi bi-exclamation-circle-fill"></i> 
                        </button>

                        <div class="mt-1" role="alert" *ngIf="reparation.reparationsClaims.length > 0">
                            <button type="button" class="btn btn-warning w-100"
                                matTooltipPosition="above"
                                matTooltip="{{ reparation.reparationsClaims.length }} reclamo/s efectuado/s de esta reparación">
                                <i class="bi bi-exclamation-diamond"></i>
                            </button>
                        </div>
                    </th>
                    <th>
                        <button *ngIf="reparation.reparationState.name.includes('PRESUPUESTO')" class="btn btn-primary col-sm-12" title="Aceptar" (click)="acceptBudgetDialog(reparation.id)"> 
                            <i class="bi bi-pencil-square"></i>
                        </button>

                        <button *ngIf="reparation.reparationState.name.includes('PRESUPUESTO')" class="btn btn-danger col-sm-12" title="Rechazar" (click)="openDialogRejectBudget(reparation.id)"> 
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </th>
                    <th>
                        <button *ngIf="reparation.bill != null && reparation.bill.payments.length > 0" type="button" class="btn btn-warning w-100"
                            matTooltip="Ya existen pagos de esta reparación"
                            matTooltipPosition="above">
                            <i class="bi bi-exclamation-diamond"></i>
                        </button>
                        <a  *ngIf="reparation.bill != null && reparation.bill.payments.length == 0 && reparation.reparationState.name.includes('ENTREGADO')"
                            class="btn btn-primary w-100"
                            href="http://localhost:4200/reparations/record/reparation/{{reparation.id}}/payment"> <i
                                class="bi bi-credit-card"></i> 
                        </a>
                    </th>
                </tr>
            </tbody>
        </table>
        <pagination-controls class="text-center data-user" (pageChange)="this.paginate.page = $event"
            previousLabel="Anterior" nextLabel="Siguiente" *ngIf="reparations.length > 4">
        </pagination-controls>
    </div>
</div>
