<div class="container-fluid">
    <p *ngIf="reparations.length == 0" class="alert alert-warning">No tiene reparaciones para mostrar</p>
    <div class="table-responsive">
        <table class="table" *ngIf="reparations.length != 0">
            <thead>
                <tr>
                    <th scope="col">Articulos</th>
                    <th scope="col">Empleado</th>
                    <th scope="col">Email cliente</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Numero de factura</th>
                    <th scope="col">Tipo de factura</th>
                    <th scope="col">Reclamar</th>
                    <th scope="col">Pagar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reparation of reparations | paginate: 
                {
                    itemsPerPage: this.paginate.recordsPerPage, 
                    currentPage:this.paginate.page
                }">
                    <th>
                        <span *ngIf="reparation.reparationsArticles.length == 0" class="text-secondary"> No contiene
                            articulos</span>
                        <span *ngFor="let article of reparation.reparationsArticles" class="data-user">
                            {{ article.articleName }}
                        </span>
                    </th>
                    <th>
                        <span class="data-user">{{ reparation.employee.name }} {{ reparation.employee.surname }}</span>
                    </th>
                    <th>
                        <span class="data-user">{{ reparation.client.email }}</span>
                    </th>
                    <th>
                        <span>{{ reparation.amount }}</span>
                    </th>
                    <th>
                        <span class="data-user">{{reparation.date | date: 'dd/MM/yyyy'}} </span>
                    </th>
                    <th>
                        <span>{{ reparation.reparationState.name }}</span>
                    </th>
                    <th>
                        <span class="data-user" *ngIf="reparation.bill !== null">{{ reparation.bill.number }}</span>
                    </th>
                    <th>
                        <span class="data-user" *ngIf="reparation.bill !== null">{{ reparation.bill.type }}</span>
                    </th>
                    <th>
                        <button class="btn btn-danger w-25" [routerLink]="['reparation', reparation.id, 'claim']"> <i
                                class="bi bi-exclamation-circle-fill"></i> </button>
                        <div class="alert alert-warning mt-1" role="alert" *ngIf="reparation.reparationsClaims.length > 0">
                            <i class="bi bi-exclamation-diamond"></i> 
                            {{ reparation.reparationsClaims.length }} reclamo/s efectuado/s de esta reparación
                        </div>
                    </th>
                    <th>
                        <p class="alert alert-warning" *ngIf="reparation.bill.payments.length > 0">
                            <i class="bi bi-exclamation-diamond"></i>
                            Ya existen pagos de esta reparación
                        </p>
                        <button *ngIf="reparation.bill.payments.length == 0 && reparation.reparationState.name.includes('ENTREGADO')" class="btn btn-primary"
                            [routerLink]="['reparation', reparation.id, 'payment']"> Pagar </button>
                    </th>
                </tr>
            </tbody>
        </table>
        <pagination-controls class="text-center data-user" (pageChange)="this.paginate.page = $event"
            previousLabel="Anterior" nextLabel="Siguiente" *ngIf="reparations.length > 5">
        </pagination-controls>
    </div>
</div>