<div class="container-fluid">
    <p *ngIf="reparations.length == 0" class="alert alert-warning">No tiene reparaciones para mostrar</p>
    <div class="table-responsive">
        <table class="table" *ngIf="reparations.length != 0">
            <thead>
                <tr>
                    <th scope="col">Articulos</th>
                    <th scope="col">Email empleado</th>
                    <th scope="col">Email cliente</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Numero de factura</th>
                    <th scope="col">Tipo de factura</th>
                    <th scope="col">Reclamar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reparation of reparations | paginate: 
                {
                    itemsPerPage: this.paginate.recordsPerPage, 
                    currentPage:this.paginate.page
                }">
                    <th>
                        <span *ngIf="reparation.reparationsArticles.length == 0" class="text-secondary"> No contiene
                            articulos</span>
                        <span *ngFor="let article of reparation.reparationsArticles" class="data-user">
                            {{ article.articleName }}
                        </span>
                    </th>
                    <th>
                        <span class="data-user">{{ reparation.employee.email }}</span>
                    </th>
                    <th>
                        <span class="data-user">{{ reparation.client.email }}</span>
                    </th>
                    <th>
                        <span>{{ reparation.amount }}</span>
                    </th>
                    <th>
                        <span class="data-user">{{reparation.date | date: 'dd/MM/yyyy'}} </span>
                    </th>
                    <th>
                        <span>{{ reparation.reparationState.name }}</span>
                    </th>
                    <th>
                        <span class="data-user">{{ reparation.bill.number }}</span>
                    </th>
                    <th>
                        <span class="data-user">{{ reparation.bill.type }}</span>
                    </th>
                    <th>
                       <button class="btn btn-danger" [routerLink]="['reparation', reparation.id, 'claim']" routerLinkActive="router-link-active" > <i class="bi bi-exclamation-circle-fill" ></i> </button>
                    </th>
                    
                </tr>
               <pagination-controls class="text-center mx-auto"
                (pageChange)="this.paginate.page = $event" 
                previousLabel="Anterior" 
                nextLabel="Siguiente">
                </pagination-controls>
            </tbody>
        </table>
    </div>
</div>