<br>
<div class="card-text d-flex flex-column text-center d-flex align-items-start data-user">
    <p class="roles-text">ROLES ASIGNADOS: </p>
    <div  class="p-1" *ngFor="let role of userRoles; let i = index;">
      {{ role }} <a class="btn btn-remove-role" (click)="removeUserRole(role)"><i class="bi bi-trash-fill"></i></a>
    </div>
</div>
<br>
<div *ngIf="roles" class="card-text d-flex flex-column text-center d-flex align-items-start data-user">
    <p class="roles-text"> ASIGNAR ROL: </p>
    <div class=" d-flex flex-row">
        <select class="form-select data-user" [(ngModel)]="roleSelected">
            <option class="data-user" name="role" *ngFor="let role of roles" [ngValue]="role">{{role}}</option>
        </select> 
        <button class="btn btn-add-role" (click)="assignRole()"><i class="bi bi-plus-circle-fill"></i></button>
    </div>
</div>