
<h1>LLEVAR ESTA VISTA A INFORMES</h1>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="card">
          <div class="card-body">
            <div class="form-group mb-3">
              <label for="date"><b>(*)Fecha: </b></label>
              <div class="input-group">
                <input id="date" name="date" class="form-control" [(ngModel)]="selectedDate" type="date" required>
              </div>
            </div>
            <div class="text-center">
              <div class="btn-group">
                <button class="btn btn-primary me-2" (click)="searchByDay()"><i class="bi bi-calendar-date-fill me-1"></i>Buscar por día</button>
                <button class="btn btn-primary me-2" (click)="searchByMonth()"><i class="bi bi-calendar2-month-fill me-1"></i>Buscar por mes</button>
                <button class="btn btn-primary" (click)="searchByYear()"><i class="bi bi-calendar3-range-fill me-1"></i>Buscar por año</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="d-flex flex-row p-3">

  <mat-card class="alert-card col-sm-6 mx-auto text-center" *ngIf="purchasesIncomes.incomeExpenses.length == 0 && reparationsIncomes.incomeExpenses.length == 0">
    <mat-card-header class="text-center mx-auto w-50">
      <mat-card-title class="alert-title text-center mx-auto">No se encontraron ingresos/egresos en esta fecha</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Intente buscando por otra fecha.
    </mat-card-content>
  </mat-card>

    <app-purchase-income-expenses *ngIf="purchasesIncomes.incomeExpenses.length > 0" [purchasesIncomes]="purchasesIncomes" 
    [ngClass]="
    {
      'col-sm-6':  purchasesIncomes.incomeExpenses.length > 0 && reparationsIncomes.incomeExpenses.length > 0, 
      'col-sm-12 m-1': purchasesIncomes.incomeExpenses.length > 0 && reparationsIncomes.incomeExpenses.length == 0,
      'm-1': purchasesIncomes.incomeExpenses.length > 0 && reparationsIncomes.incomeExpenses.length > 0
    }">
    </app-purchase-income-expenses>

    <app-reparation-income-expenses *ngIf="reparationsIncomes.incomeExpenses.length > 0" 
    [reparationsIncomes]="reparationsIncomes" 
    [ngClass]="
    {
      'col-sm-6':  reparationsIncomes.incomeExpenses.length > 0 && purchasesIncomes.incomeExpenses.length > 0, 
      'col-sm-12 m-1': reparationsIncomes.incomeExpenses.length > 0 && purchasesIncomes.incomeExpenses.length == 0,
      'm-1': purchasesIncomes.incomeExpenses.length > 0 && reparationsIncomes.incomeExpenses.length > 0
    }"
    ></app-reparation-income-expenses>
</div>
