<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="form-group mb-3">
            <label for="dateRange"><b>(*) Fecha: </b></label>
            <div class="input-group">
              <!-- Date Range Picker -->
              <mat-form-field class="full-width">
                <mat-label>Seleccionar rango de fechas</mat-label>
                <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRangeForm">
                  <input matStartDate formControlName="start" placeholder="Fecha inicio">
                  <input matEndDate formControlName="end" placeholder="Fecha fin">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
              
            </div>
          </div>
          <div class="text-center">
            <div class="btn-group">
              <button class="btn btn-primary me-2" (click)="setToday()">Hoy</button>
              <button class="btn btn-primary me-2" (click)="setYesterday()">Ayer</button>
              <button class="btn btn-primary me-2" (click)="setCurrentMonth()">Mes actual</button>
              <button class="btn btn-primary me-2" (click)="setPreviousMonth()">Mes anterior</button>
              <button class="btn btn-primary me-2" (click)="filterByLastYear()">Año Pasado</button>
              <button class="btn btn-primary me-2" (click)="filterByThisYear()">Este Año</button>
              <button class="btn btn-primary" (click)="searchByRange()">Buscar</button>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex flex-row p-3">

  <mat-card class="alert-card col-sm-6 mx-auto text-center" *ngIf="purchasesIncomes.incomeExpenses.length == 0 && reparationsIncomes.incomeExpenses.length == 0">
    <mat-card-header class="text-center mx-auto w-50">
      <mat-card-title class="alert-title text-center mx-auto">No se encontraron ingresos/egresos en esta fecha</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Intente buscando por otra fecha.
    </mat-card-content>
  </mat-card>

    <app-purchase-income-expenses *ngIf="purchasesIncomes.incomeExpenses.length > 0" [purchasesIncomes]="purchasesIncomes" 
    [ngClass]="
    {
      'col-sm-6':  purchasesIncomes.incomeExpenses.length > 0 && reparationsIncomes.incomeExpenses.length > 0, 
      'col-sm-12 m-1': purchasesIncomes.incomeExpenses.length > 0 && reparationsIncomes.incomeExpenses.length == 0,
      'm-1': purchasesIncomes.incomeExpenses.length > 0 && reparationsIncomes.incomeExpenses.length > 0
    }">
    </app-purchase-income-expenses>

    <app-reparation-income-expenses *ngIf="reparationsIncomes.incomeExpenses.length > 0" 
    [reparationsIncomes]="reparationsIncomes" 
    [ngClass]="
    {
      'col-sm-6':  reparationsIncomes.incomeExpenses.length > 0 && purchasesIncomes.incomeExpenses.length > 0, 
      'col-sm-12 m-1': reparationsIncomes.incomeExpenses.length > 0 && purchasesIncomes.incomeExpenses.length == 0,
      'm-1': purchasesIncomes.incomeExpenses.length > 0 && reparationsIncomes.incomeExpenses.length > 0
    }"
    ></app-reparation-income-expenses>
</div>