<div class="container-fluid">
  <h1 class="text-center">Responder al reclamo</h1>
  <form #purchaseClaimForm="ngForm" (ngSubmit)="onSubmit(purchaseClaimForm)" class="w-50 mx-auto">
    <div class="form-group mb-3">
      <label for="answerClaim"><b>Respuesta al reclamo: </b></label>
      <textarea id="answerClaim" required  placeholder="Ingrese su respuesta" minlength="1" name="answerClaim" class="form-control" #answerClaim="ngModel" [(ngModel)]="answer">
      </textarea>
        <span *ngIf="answerClaim.touched && !answerClaim.valid" class="text-danger">Ingrese una respuesta valida</span>
    </div>  
    <p>
      <input type="submit" class="btn btn-primary mt-3" [disabled]="purchaseClaimForm.invalid" value="Enviar"/>
    </p> 
  </form>
  
  </div>