<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened>
      <mat-nav-list>
        <!-- Opción para seleccionar REPARACIONES -->
        <mat-list-item (click)="selectReport(ReportTypeEnum.Reparaciones)">REPARACIONES</mat-list-item>
        <!-- Opción para seleccionar otro informe -->
        <mat-list-item (click)="selectReport(ReportTypeEnum.Informe2)">Informe 2</mat-list-item>
        <mat-list-item (click)="selectReport(ReportTypeEnum.Informe3)">Informe 3</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <div class="content">
  
        <!-- BUSCADOR POR FECHA -->
        <ng-container matColumnDef="searcher">
          <app-date-range-search (dateRangeSelected)="onDateRangeSelected($event)"></app-date-range-search>
        </ng-container>
    
        <!-- Mostrar el componente de REPARACIONES si está seleccionado -->
        <ng-container *ngIf="selectedReport === ReportTypeEnum.Reparaciones">
          <app-show-income-expenses [startDate]="startDate" [endDate]="endDate"></app-show-income-expenses>
        </ng-container>
  
        <!-- Otro componente para Informe 2 -->
        <ng-container *ngIf="selectedReport === ReportTypeEnum.Informe2">
          COMPONENTE 2
        </ng-container>
  
        <!-- Otro componente para Informe 3 -->
        <ng-container *ngIf="selectedReport === ReportTypeEnum.Informe3">
          COMPONENTE 3
        </ng-container>
  
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>