<div class="d-flex bg-light">
  <h2 class="d-flex mx-auto">LISTADO DE MARCAS
    <button class="btn btn-dark padding-custom" (click)="generatePDF()">
      <i class="bi bi-filetype-pdf"></i>
    </button>
  </h2>
</div>

<app-searcher [isVisible]="brands.length > 0" (searchTextChange)="onSearchTextChange($event)"></app-searcher>

<div class="table-responsive" #content>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let brand of brands 
        | filter: searchText 
        | paginate: 
        {
            itemsPerPage: this.paginate.recordsPerPage, 
            currentPage:this.paginate.page
        }; let i = index">
          <td><input class="form-control data-user" pattern="^([ \u00c0-\u01ffa-zA-Z'\-])+$" value="{{brand.name}}" [(ngModel)]="brand.name" ></td>
          <td><button class="btn btn-primary col-sm-12"  (click)="openDialogUpdate(brand)" title="Editar"> <i class="bi bi-pencil-square"></i> </button></td>
          <td><button class="btn btn-danger col-sm-12" (click)="openDialogDelete(brand.id)" title="Eliminar"> <i class="bi bi-trash-fill"></i> </button></td>
        </tr>
      </tbody>
    </table>
    <pagination-controls class="text-center data-user" (pageChange)="this.paginate.page = $event"
        previousLabel="Anterior" nextLabel="Siguiente" *ngIf="brands.length > 6">
    </pagination-controls>
</div>
