<div class="bg-light">
  <h2 class="d-flex mx-auto">LISTADO DE MARCAS</h2>
  
  <app-searcher [isVisible]="brands.length > 0" (searchTextChange)="onSearchTextChange($event)"></app-searcher>
</div>


<div class="table-responsive" #content>
  <br>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let brand of brands | filter: searchText 
        | paginate: 
        {
            itemsPerPage: this.paginate.recordsPerPage, 
            currentPage:this.paginate.page
        }; let i = index">
          <td><input class="form-control data-user" pattern="^([ \u00c0-\u01ffa-zA-Z'\-])+$" value="{{brand.name}}" [(ngModel)]="brand.name" (ngModelChange)="onBrandChange(brand.id)"></td>
          <td><button class="btn link-custom w-100" [disabled]="!isChanged(brand.id)" (click)="openDialogUpdate(brand)" title="Editar"> <i class="bi bi-check-circle-fill text-primary"></i> </button></td>
          <td><button class="btn link-custom w-100" (click)="openDialogDelete(brand.id)" title="Eliminar"> <i class="bi bi-trash3-fill text-danger"></i> </button></td>
        </tr>
      </tbody>
    </table>
    <pagination-controls class="text-center data-user" (pageChange)="this.paginate.page = $event"
        previousLabel="Anterior" nextLabel="Siguiente" *ngIf="brands.length > 6">
    </pagination-controls>
</div>
