<div class="table-responsive p-1">
    <table class="table">
        <thead>
            <tr>
                <th>LISTADO DE REPARACIONES</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th scope="col">Email empleado</th>
                <th scope="col">Email cliente</th>
                <th scope="col">Fecha</th>
                <th scope="col">Estado</th>
                <th scope="col">Descripcion del cliente</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reparation of reparations 
            | paginate: 
            {
                itemsPerPage: this.paginate.recordsPerPage, 
                currentPage:this.paginate.page
            }; 
            let i = index">
                <th>
                    <span class="data-user form-control">{{ reparation.employee.email }}</span>
                </th>
                <th>
                    <span class="data-user form-control">{{ reparation.client.userName }}</span>
                </th>      
                <th>
                    <span class="form-control data-user">{{reparation.date | date: 'dd/MM/yyyy'}} </span>
                </th>
                <th>
                    <span class="data-user form-control">{{ reparation.reparationState.name }}</span>
                </th>        
                <th>
                    <span class="data-user form-control">{{ reparation.clientDescription }}</span>
                </th>
                <td>
                    <button class="btn btn-success" (click)="openDialogUpdate(reparation)"> <i
                            class="bi bi-pencil-square"></i></button>
                </td>
            </tr>

        </tbody>

    </table>
    <pagination-controls class="text-center data-user" (pageChange)="this.paginate.page = $event"
        previousLabel="Anterior" nextLabel="Siguiente" *ngIf="reparations.length > 2">
    </pagination-controls>
</div>