<h1>Descontar Stock</h1>
<p class="h3">{{ article.name }}</p>
<hr>

<div class="row align-items-center justify-content-center scrollable-container" style="height: 9rem;">
    <div class="form-group mb-2 col-4" *ngFor="let item of serialNumbersSelection.serialNumbers">        
            <input class="form-check-input" id="selected" type="checkbox" name="selected"
                [(ngModel)]="item.selected" />
            <label class="data-user ms-2" for="selected"><b>{{ item.serialNumber }}</b></label>         
    </div>


    <!-- Si no define numeros de series se debe indicar la cantidad a descontar -->
    <div *ngIf="!article.hasSerialNumber" class="form-group mb-2 col">
        <label for="quantityToDiscount"><b>(*)Cantidad a descontar: </b></label>
        <input id="quantityToDiscount" placeholder="Cantidad a descontar" name="quantityToDiscount"
            class="form-control" type="number" #quantityToDiscount="ngModel" [(ngModel)]="serialNumbersSelection.quantityToDiscount" required>
    </div>
</div>

<div class="row align-items-center justify-content-center scrollable-container">
    <div class="form-group my-2 col">
        <label for="discountReason"><b>(*)Razón de descuento: </b></label>
        <textarea id="discountReason" pattern="^([0-9 \u00c0-\u01ffa-zA-Z'\-\_])+$" placeholder="Razon del descuento" name="discountReason"
            class="form-control" type="textarea" #discountReason="ngModel" [(ngModel)]="serialNumbersSelection.discountReason" required minlength="3">
        </textarea>
    </div>
</div>

<div class="d-flex justify-content-end flex-md-row flex-wrap">
    <button class="btn btn-primary d-flex p-2 m-2" 
            (click)="confirm()" 
            [disabled]="disableAcceptButton()">
            {{this.dialogRef ? 'Aceptar' : 'Aceptar sin \'dialogo\''}}
    </button>
    <button *ngIf="this.dialogRef" class="btn btn-danger d-flex p-2 m-2" (click)="closeModal()">Cancelar</button>
</div>
