.card-img-top {
    padding-top: 1.1rem;
    width: 10rem;
    height: 10rem;
}
.container{
    text-align: center;
}
.card-body{
    padding: 0 1rem 1rem 1rem !important;
}

.card-article-container{
    width: 100%; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-container{
    height: 22rem !important;
    width: 16rem !important;
}

.data-article{
    padding-top: .5rem !important;
    font-size: medium !important;
}

.line-through{
    text-decoration: line-through;
}

.btn-pos{
    margin: 0.5rem 0;
    position: absolute;
    bottom: 0;  
    align-self: center !important; 
}

.stock-pos{
    margin: 0rem 0.5rem;
    position: absolute;
    bottom: 3rem;  
    align-self: center !important; 
}

.data-user{
    font-weight: bold !important;
    font-size: x-large !important;
}

.data-offer{
    font-weight: bold !important;
    font-size: large !important;
}