.card-img-top {
    width: 170px;
    height: 230px;
    align-self: center;
    padding-top: 10px;
}

.article-card{
    border-style: ridge;
    border-color: #007BC1 !important;
    box-shadow: 3px 3px 3px black !important;
}

.data-article{
    font-weight: bold !important;
    font-size:small !important;
}