<div class="data-user">
    Filtrar por estado:
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked 
    (click)="selectedState_INGRESO()">
    <label class="form-check-label" for="exampleRadios1">
        Ingreso
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2"
    (click)="selectedState_EN_REVISION()">
    <label class="form-check-label" for="exampleRadios2">
        En revision
    </label>
</div>

<!--
<div class="table-responsive p-1">
    <table class="table">
        <thead>
            <tr>
                <th>LISTADO DE REPARACIONES</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>

            </tr>
            <tr>
                <th scope="col">Articulos</th>
                <th scope="col">Email empleado</th>
                <th scope="col">Email cliente</th>
                <th scope="col">Monto</th>
                <th scope="col">Fecha</th>
                <th scope="col">Estado</th>
                <th scope="col">Factura</th>
                <th scope="col">#</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reparation of reparations 
            | paginate: 
            {
                itemsPerPage: this.paginate.recordsPerPage, 
                currentPage:this.paginate.page
            }; 
            let i = index">

                <th>
                    <span *ngIf="reparation.reparationsArticles.length == 0" class="text-secondary"> No contiene
                        articulos</span>
                    <select class="form-select data-user"
                        *ngFor="let reparationArticle of reparation.reparationsArticles" name="selectArticle"
                        [(ngModel)]="reparationArticle.articleId">
                        <option class="data-user" name="article" *ngFor="let article of articles"
                            [ngValue]="article.id">{{article.name}}
                        </option>
                    </select>

                    <form class="mt-2" #articleReparationForm="ngForm">
                        <div class="form-group mb-1 text-primary d-flex row">
                            <label for="article"><b>Agregar nuevo articulo:</b></label>
                        </div>
                        <div class="form-group mb-3 d-flex row">
                            <div class="form-group mb-3 col">
                                <label for="articleName"><b>Articulo</b></label>
                                <select class="form-select data-user" name="selectArticle"
                                    [(ngModel)]="reparationArticle.articleId">
                                    <option class="data-user" name="article" *ngFor="let article of articles"
                                        [ngValue]="article.id">{{article.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group mb-3 col">
                                <label for="articleQuantity"><b>Cantidad </b></label>
                                <input id="articleQuantity" name="articleQuantity" class="form-control data-user"
                                    type="number" min="1" #articleQuantity="ngModel"
                                    [(ngModel)]="reparationArticle.articleQuantity" required>
                                <span *ngIf="articleQuantity.touched && !articleQuantity.valid"
                                    class="text-danger">Ingrese
                                    un numero valido</span>
                            </div>
                            <div class="form-group mb-3 col">
                                <p>
                                    <button class="btn btn-primary mt-3" (click)="addArticleReparation(reparation)"
                                        [disabled]="articleReparationForm.invalid"><i
                                            class="bi bi-plus-circle-fill"></i></button>
                                </p>
                            </div>
                        </div>

                    </form>
                </th>
                <th>
                    <span class="data-user form-control">{{ reparation.employee.email }}</span>
                </th>
                <th>
                    <select class="form-select data-user" name="selectArticle" [(ngModel)]="reparation.client.id">
                        <option class="data-user" name="client" *ngFor="let client of clients" [ngValue]="client.id">
                            {{client.userName}}
                        </option>
                    </select>
                </th>
                <th>
                    <input id="amount" name="amount" class="form-control data-user" type="number" min="0"
                        #amount="ngModel" [(ngModel)]="reparation.amount" required>
                </th>
                <th>
                    <span class="form-control data-user">{{reparation.date | date: 'dd/MM/yyyy'}} </span>
                    <input id="date" name="date" class="form-control data-user" type="date" #date="ngModel"
                        [(ngModel)]="reparation.date" required>
                </th>
                <th>
                    <select class="form-select data-user" name="selectReparationState"
                        [(ngModel)]="reparation.reparationState.id">
                        <option class="data-user" name="reparationState"
                            *ngFor="let reparationState of reparationsStates" [ngValue]="reparationState.id">
                            {{reparationState.name}}
                        </option>
                    </select>
                </th>
                <th>
                    <div *ngIf="reparation.bill != null">
                        <p>
                            <label for="billNumber"><b>Numero </b></label>
                            <input id="billNumber" name="billNumber" class="data-user" type="number"
                                #billNumber="ngModel" [(ngModel)]="reparation.bill.number" required>
                        </p>
                        <p>
                            <label for="billType"><b>Tipo </b></label>
                            <select class="form-select data-user" name="selectBillType"
                                [(ngModel)]="reparation.bill.type">
                                <option class="data-user" name="billType" [ngValue]="billTypes.A" selected>
                                    {{billTypes.A}}
                                </option>
                                <option class="data-user" name="billType" [ngValue]="billTypes.B">{{billTypes.B}}
                                </option>
                                <option class="data-user" name="billType" [ngValue]="billTypes.C">{{billTypes.C}}
                                </option>
                                <option class="data-user" name="billType" [ngValue]="billTypes.RECIBO">
                                    {{billTypes.RECIBO}}
                                </option>
                            </select>
                        </p>
                    </div>
                </th>
                <td>
                    <button class="btn btn-success" (click)="openDialogUpdate(reparation)"> <i
                            class="bi bi-pencil-square"></i></button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="openDialogDelete(reparation.id)"> <i
                            class="bi bi-trash-fill"></i></button>
                </td>
            </tr>

        </tbody>

    </table>
    <pagination-controls class="text-center data-user" (pageChange)="this.paginate.page = $event"
        previousLabel="Anterior" nextLabel="Siguiente" *ngIf="reparations.length > 6">
    </pagination-controls>
</div>
-->

<app-reparation-state-ingreso *ngIf="this.reparationStateSelected === this.reparationStatesEnum.INGRESO"></app-reparation-state-ingreso>
<app-reparation-state-en-revision *ngIf="this.reparationStateSelected === this.reparationStatesEnum.EN_REVISION"></app-reparation-state-en-revision>