<div>
    <form #addressForm="ngForm" action="#">
        <div class="row">
            <div class="form-group col-sm-3 mb-3">
                <label for="province"><b>Provincia:</b></label>
                <input disabled class="form-control" type="text" name="province" #province="ngModel"
                    [(ngModel)]="address.province" required />
                <span *ngIf="province.touched && !province.valid" class="text-danger">Ingrese una provincia
                    valida</span>
            </div>

            <div class="form-group col-sm-6 mb-3">
                <label for="department"><b>Departamento:</b></label>
                <input disabled class="form-control" type="text" name="department" #department="ngModel"
                    [(ngModel)]="address.department" />
                <span *ngIf="department.touched && !department.valid" class="text-danger">Ingrese un departamento
                    valido</span>
            </div>

            <div class="form-group col-sm-3 mb-3">
                <label for="townName"><b>Localidad:</b></label>
                <input disabled class="form-control" type="text" name="townName" #townName="ngModel"
                    [(ngModel)]="address.townName" required />
                <span *ngIf="townName.touched && !townName.valid" class="text-danger">Ingrese un nombre de ciudad
                    valido</span>
            </div>
        </div>

        <div class="row">
            <input type="hidden" [(ngModel)]="address.id" name="id" />
            <div class="form-group col-sm-6 mb-3">
                <label for="streetName"><b>Nombre de calle:</b></label>
                <input class="form-control" type="text" name="streetName" #streetName="ngModel"
                    [(ngModel)]="address.streetName" required />
                <span *ngIf="streetName.touched && !streetName.valid" class="text-danger">Ingrese un nombre de calle
                    valido</span>
            </div>

            <div class="form-group col-sm-6 mb-3">
                <label for="streetNumber"><b>Número de calle:</b></label>
                <input class="form-control" type="text" name="streetNumber" #streetNumber="ngModel"
                    [(ngModel)]="address.streetNumber" required />
                <span *ngIf="streetNumber.touched && !streetNumber.valid" class="text-danger">Ingrese un numero de calle
                    valido</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-3 mb-3">
                <label for="postalCode"><b>Código Postal:</b></label>
                <input class="form-control" type="text" name="postalCode" #postalCode="ngModel"
                    [(ngModel)]="address.postalCode" required />
                <span *ngIf="postalCode.touched && !postalCode.valid" class="text-danger">Ingrese un numero postal
                    valido</span>
            </div>

            <div class="form-group col-sm-6 mb-3">
                <label for="floor"><b>Piso:</b></label>
                <input class="form-control" type="text" name="floor" #floor="ngModel" [(ngModel)]="address.floor"
                    pattern="(^[0-9]+)" />
                <span *ngIf="floor.touched && !floor.valid" class="text-danger">Ingrese un piso valido</span>
            </div>
        </div>

    </form>
</div>