<h1 class="text-center">Crear marca</h1>
<form #brandForm="ngForm" (ngSubmit)="onSubmit(brandForm)" class="w-50 mx-auto">
  <div class="form-group mb-3 d-flex">
    <input id="name" pattern="^([ \u00c0-\u01ffa-zA-Z'\-])+$" placeholder="Nombre de la marca" name="name" class="form-control" type="text" #name="ngModel" [(ngModel)]="brand.name" required minlength="3">
    <button type="submit" class="btn btn-primary ms-1" [disabled]="brandForm.invalid">Crear</button> 
  </div> 
  <span *ngIf="name.touched && !name.valid" class="text-danger">Ingrese un nombre de marca válido</span>
</form>
