*{
    color: #000 !important;
}
.colours{
    color: #fff !important;
    font-weight: bolder !important;
    font-size: larger !important;
    transition: color .25s linear;
    border: none !important;
}
.colours:hover{
    color: #6528E0 !important;
}
.colours-group-hover:hover{
    .colours{
        color:#6528E0 !important;
    }
}
