
<div class="bg-light">
  <h2 class="mx-auto">LISTADO DE PROVEEDORES</h2>

  <app-searcher [isVisible]="providers.length > 0" 
    [secondaryContainerCssClass]="'col-md-8'"
    (searchTextChange)="onSearchTextChange($event)"></app-searcher>
</div>

<div  class="table-responsive" #content>
  <table matSort (matSortChange)="sortData($event)" class="table">
    <thead>
      <tr>
        <th mat-sort-header="name" scope="col">Nombre</th>
        <th mat-sort-header="phone" scope="col">Telefono</th>
        <th mat-sort-header="email" scope="col">Email</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let provider of sortedData 
      | filter: searchText
      | paginate: 
      {
          itemsPerPage: this.paginate.recordsPerPage, 
          currentPage:this.paginate.page
      }; let i = index">
        <th><input class="form-control data-user" pattern="^([ \u00c0-\u01ffa-zA-Z'\-])+$" value="{{provider.name}}"
            [(ngModel)]="provider.name"></th>
        <td><input class="form-control data-user" pattern="(^[0-9]+)" minlength="5" value="{{provider.phone}}"
            [(ngModel)]="provider.phone"></td>
        <td><input class="form-control data-user" required email type="email" value="{{provider.email}}"
            [(ngModel)]="provider.email"></td>
        <td><button class="btn btn-primary col-sm-12" (click)="openDialogUpdate(provider)" title="Editar"> <i class="bi bi-check-lg"></i>
          </button></td>
        <td><button class="btn btn-danger col-sm-12" (click)="openDialogDelete(provider.id)" title="Eliminar"> <i class="bi bi-x-lg"></i>
          </button></td>
      </tr>
    </tbody>
  </table>
  <pagination-controls class="text-center data-user" (pageChange)="this.paginate.page = $event"
        previousLabel="Anterior" nextLabel="Siguiente" *ngIf="providers.length > 3">
    </pagination-controls>
</div>
