<div *ngIf="this.statusSubmit == 'success'" class="alert alert-primary">
  Proveedor actualizada correctamente
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>LISTADO DE PROVEEDORES</th> <th></th><th></th><th></th><th></th>
      </tr>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Telefono</th>
        <th scope="col">Email</th>
        <th scope="col">#</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let provider of providers; let i = index">
        <th><input class="form-control" pattern="^([ \u00c0-\u01ffa-zA-Z'\-])+$" value="{{provider.name}}"
            [(ngModel)]="provider.name"></th>
        <td><input class="form-control" pattern="(^[0-9]+)" minlength="5" value="{{provider.phone}}"
            [(ngModel)]="provider.phone"></td>
        <td><input class="form-control" required email type="email" value="{{provider.email}}"
            [(ngModel)]="provider.email"></td>
        <td><button class="btn btn-success" (click)="openDialog(provider)"> <i class="bi bi-pencil-square"></i>
          </button></td>
        <td><button class="btn btn-danger" (click)="deleteProvider(provider.id)"> <i class="bi bi-trash-fill"></i>
          </button></td>
      </tr>
    </tbody>
  </table>
</div>