<div class="container-fluid">
    <div class="card p-3">
        <div class=" d-flex justify-content-end">
            <button class="btn btn-close" (click)="closeModal()" title="Cerrar"></button>
        </div>
        <hr>
        <div class="card-text">
            <p class="data-user" *ngIf="data.reparationsArticles.length > 0">Articulos:</p>
            <p class="data-user" *ngFor="let reparationArticle of data.reparationsArticles">&nbsp;&nbsp;&nbsp;&nbsp;{{reparationArticle.articleName}}</p>
            <p class="data-user"> Empleado: {{data.employee.name}} {{data.employee.surname}}</p>
            <p class="data-user"> Email del cliente: {{data.client.email}}</p>
            <p class="data-user"> Fecha: {{data.date | date: 'dd/MM/yyyy'}}</p>
            <p class="data-user"> Estado de la reparacion: {{data.reparationState.name}}</p>
            <div *ngIf="data.bill.number === ''">
                <p class="data-user"> Numero de factura: {{data.bill.number}}</p>
                <p class="data-user"> Tipo de factura: {{data.bill.type}}</p>
            </div>
        </div>
    </div>
   
</div>

