<div class="card text-center m-1 mb-2 article-card ml-0">
    <div class="d-flex flex-row justify-content-center">
        <img [src]="article.image" class="border border-secondary card-img-top col-sm-3 m-1 rounded">
        <div class="m-1 ml-0">
            <input id="image" name="image"  class="inputfile inputfile-1" (change)="onChange($event)" type="file">
            <label for="file-1">
                <i class="bi bi-upload iborrainputfile"></i>
                <span class="iborrainputfile">Subir archivo</span>
            </label>
        </div>
    </div>
    <div class="card-body card-body-p-custom">
        <h5 class="card-title data-article">Nombre:<input class="form-control data-article" [(ngModel)]="article.name">
        </h5>
        <p class="card-text data-article">Valor unitario: <input class="form-control data-article"
                [(ngModel)]="article.unitValue"></p>


        <p class="card-text data-article">Código: <input class="form-control data-article" [(ngModel)]="article.code"
                disabled>
        </p>
        <p class="card-text data-article">Stock: <input class="form-control data-article" [(ngModel)]="article.stock"
                disabled>
        </p>

        <div class="row">
            <div class="card-text data-article mb-1 col-sm-6">Marca:
                <select class="form-select data-article" name="selectBrand" [(ngModel)]="article.brand.id">
                    <option class="data-user" name="brand" *ngFor="let brand of brands" [ngValue]="brand.id">
                        {{brand.name}}
                    </option>
                </select>
            </div>
            <div class="card-text data-article col-sm-6">Categoría:
                <select class="form-select data-article" name="selectCategory" [(ngModel)]="article.category.id"
                    required>
                    <option class="data-user" name="category" *ngFor="let category of categories"
                        [ngValue]="category.id">
                        {{category.name}}</option>
                </select>
            </div>
        </div>
        <button class="btn btn-primary m-2 col-sm-3" (click)="openDialogUpdate()" title="Editar"><i class="bi bi-pencil-square"></i></button>
        <button class="btn btn-danger m-2 col-sm-3" (click)="openDialogDelete()" title="Eliminar"><i class="bi bi-trash-fill"></i></button>
        <p class="alert alert-success" *ngIf="updateSuccess">Se actualizó correctamente</p>
    </div>
</div>