<!-- <div class="card text-center m-1 mb-2 article-card ml-0"> -->
<div class="container-fluid">
    <div class="row justify-content-center align-content-center">
        <div class="col-3">
            <img class="card-img-top rounded"
                src="{{articleAux.image}}" 
                alt="image"
                (error)="changeImage($event)"                
            /> 
        </div>
        <div class="col-9 mt-4">
            <input id="image" name="image" class="inputfile" (change)="onChange($event)" type="file">
            <label style="height: 60%; width: 100%;" for="image" class="btn custom-file-upload">
                <i class="bi bi-upload iborrainputfile"></i> Cambiar imagen
            </label>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center align-content-center mt-2">
        <div class="col">
            <div class=" form-floating">
                <input class="form-control form-control-sm form-control data-article"
                name="name" [(ngModel)]="articleAux.name" type="text" placeholder="" />
                <label>Nombre:</label>                 
            </div>       
        </div>
    </div>
    <div class="row justify-content-center align-content-center mt-2">
        <div class="col">
            <div class=" form-floating">
                <input class="form-control form-control-sm form-control data-article"
                name="unitValue" [(ngModel)]="articleAux.unitValue" type="number" min="0" placeholder="" />
                <label>Precio de venta:</label>                 
            </div>       
        </div>
    </div>

    <div class="row justify-content-center align-content-center mt-2" *ngIf="articleAux.provisionCreatedDateTime">
        <div class="col">
            <div class=" form-floating">
                <input class="form-control form-control-sm form-control data-article"
                name="unitValue" [(ngModel)]="articleAux.provisionPrice" disabled="true" type="number" min="0" placeholder="" />
                <label>Precio Recomendado:</label>                 
            </div>       
        </div>
    </div>

    <div class="row justify-content-center align-content-center mt-2">
        <div class="col-6">
            <div class=" form-floating">
                <input disabled class="form-control form-control-sm form-control data-article"
                name="code" [(ngModel)]="articleAux.code" type="text" placeholder="" />
                <label>Código:</label>                 
            </div>       
        </div>
        <div class="col-6">
            <div class=" form-floating">
                <input disabled class="form-control form-control-sm form-control data-article"
                name="code" [(ngModel)]="articleAux.stock" type="text" placeholder="" />
                <label>Stock:</label>                 
            </div>       
        </div>
    </div>
    <div class="row justify-content-center align-content-center mt-2">
        <div class="col-6">
            <div class="form-floating">                                                 
                <select required class="form-select form-select-sm data-article" name="selectBrand" [(ngModel)]="articleAux.brand.id">
                    <option class="data-user" name="brand" *ngFor="let brand of brands" [ngValue]="brand.id">
                        {{brand.name}}
                    </option>
                </select>
                <label>Marca:</label>                
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating">                                                 
                <select required class="form-select form-select-sm data-article" name="selectCategory" [(ngModel)]="articleAux.category.id">
                    <option class="data-user" name="category" *ngFor="let category of categories" [ngValue]="category.id">
                        {{category.name}}
                    </option>
                </select>
                <label>Categoría:</label>                
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-content-center mt-2">
        <div class="col-6">
            <button style="width: 100%; height: 100%;" #buttonX id="buttonX" class="btn btn-success col-6 px-3" (click)="openDialogUpdate()" title="Aceptar">
                <i class="bi bi-check-circle-fill"></i>
            </button>
        </div>
        <div class="col-6">
            <button style="width: 100%; height: 100%;" #buttonCancel id="buttonCancel" class="btn btn-danger col-6 px-3" data-bs-dismiss="modal" title="Cancelar">
                <i class="bi bi-x-circle-fill"></i>
            </button>
        </div>
        
        
    </div>
</div>