<div class="card text-center mb-2 article-card">
    <img [src]="article.image" class="card-img-top">
    <input id="image" name="image" class="form-control" (change)="onChange($event)" type="file">

    <div class="card-body">
        <h5 class="card-title data-article">Nombre:<input class="form-control data-user" [(ngModel)]="article.name"></h5>
        <p class="card-text data-article">Valor unitario: <input class="form-control data-user" [(ngModel)]="article.unitValue"></p>
        <p class="card-text data-article">Codigo: <input class="form-control data-user" [(ngModel)]="article.code"></p>
        <p class="card-text data-article">Stock: <input class="form-control data-user" [(ngModel)]="article.stock"></p>
        <p class="card-text data-article">Marca:
            <select class="form-select data-user" name="selectBrand" [(ngModel)]="article.brand.id">
                <option class="data-user" name="brand" *ngFor="let brand of brands" [ngValue]="brand.id">{{brand.name}}
                </option>
            </select>
        </p>
        <p class="card-text data-article">Categoria:
            <select class="form-select data-user" name="selectCategory" [(ngModel)]="article.category.id" required>
                <option class="data-user" name="category" *ngFor="let category of categories" [ngValue]="category.id">
                    {{category.name}}</option>
            </select>
        </p>
        <button class="btn btn-success m-2" (click)="openDialog()"><i class="bi bi-pencil-square"></i></button>
        <button class="btn btn-danger" (click)="delete()"><i class="bi bi-trash-fill"></i></button>
        <p class="alert alert-success" *ngIf="updateSuccess">Se actualizo correctamente</p>
    </div>
</div>