.card-img-top {
    width: 50px;
    height: 50px;
    align-self: center;
    padding-top: 10px;
}

.article-card{
    border-style: ridge;
    border-color: #007BC1 !important;
    box-shadow: 3px 3px 3px black !important;
}

.data-article{
    font-weight: bold !important;
    font-size:small !important;
}

.card-body-p-custom{
    padding: 0.5rem 0.5rem !important;
}


/* INPUT FILE */
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    font-size: 0.7rem;
    font-weight: 300;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1rem;
}

.inputfile + label i {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
	font-size:16px; 
	font-weight:normal;
	font-family: 'Lato';
}

/* style 1 */

.inputfile-1 + label {
    color: black;
    background-color: #ced4da;
}
