<div>
    <h5><b>Direccion:</b></h5>

    <div>
        <p><b>Nombre de calle:</b> {{ address.streetName }}</p>
    </div>

    <div>
        <p><b>Numero de calle:</b> {{ address.streetNumber }}</p>
    </div>

    <div>
        <p><b>Departamento:</b> {{ address.department }}</p>
    </div>


    <div>
        <p><b>Piso:</b> {{ address.floor }}</p>
    </div>

    <div>
        <p><b>CodigoPostal:</b> {{ address.postalCode }}</p>
    </div>

    <div>
        <p><b>Province:</b> {{ address.province }}</p>
    </div>

    <div>
        <p><b>Ciudad:</b> {{ address.townName }}</p>
    </div>

</div>
