<div>
    <p class="data-user"><b>Direccion:</b></p>
    <br>
 <div class="row">
    <div class="col-sm-4">
        <div><b>Nombre de calle:</b> {{ address.streetName }}</div>
    </div>

    <div class="col-sm-4">
        <div><b>Numero de calle:</b> {{ address.streetNumber }}</div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-sm-4"> 
        <div><b>Departamento:</b> {{ address.department }}</div>
    </div>

    <div class="col-sm-4">
        <div><b>Piso:</b> {{ address.floor }}</div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-sm-3">
        <div><b>CodigoPostal:</b> {{ address.postalCode }}</div>
    </div>

    <div class="col-sm-3">
        <div><b>Province:</b> {{ address.province }}</div>
    </div>

    <div class="col-sm-3">
        <div><b>Ciudad:</b> {{ address.townName }}</div>
    </div>
</div>

</div>
<br>
