<div class="container-fluid">
<div class="card text-center mb-3 m-2 border border-dark">
    
    <div class="card-body row">
        <div class="col-sm-4">
            <img src="../../../../assets/images/user-image.png" class="card-img-top">
        </div>
        <div class="col">

            <p class="card-title d-flex flex-column flex-md-row data-user">NOMBRE: {{user.name | uppercase}}</p>
            <p class="card-text d-flex flex-column flex-md-row data-user">APELLIDO: {{user.surname | uppercase}}</p>
            <p class="card-text d-flex flex-column flex-md-row data-user">DNI: {{ user.dni }}</p>
            <p class="card-text d-flex flex-column flex-md-row data-user">Email: {{ user.email }}</p>

            <app-roles-user [email]="user.email"></app-roles-user>
        </div>

    </div>
  </div>
</div>
