<div class="bg-light">
    <h2 class="mx-auto">LISTADO DE OFERTAS</h2>
</div>
<div class="container-fluid">
    <div class="row align-items-center justify-content-between">
        <div class="col-4">
            <div class="form-check form-switch">
            <input
                class="form-check-input switch-input-lg"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckChecked"
                [(ngModel)]="filterByVigencia"
                (click)="filter()" 
            />
                    
            <label
                class="form-check-label text-uppercase fs-5 ms-2 mt-1"
                for="flexSwitchCheckChecked"
                > {{ this.filterByVigencia ? "Todas las ofertas" : "Ofertas con Vigencia"  }}</label
            >
            </div>
        </div>
    </div>
</div>
<div class="table-responsive" #content>
    <table matSort (matSortChange)="sortData($event)" class="table">
        <thead>
            <tr>
                <th scope="col">ARTICULO</th>
                <th scope="col">STOCK ARTICULO</th>
                <th mat-sort-header="discountPercentage" scope="col">PORCENTAJE DESCUENTO</th>
                <th mat-sort-header="startDate" scope="col">INICIO</th>
                <th mat-sort-header="endDate" scope="col">FIN</th>
                <th scope="col">EDITAR</th>
                <th scope="col">ELIMINAR</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let offer of sortedData 
            | paginate: 
            {
                itemsPerPage: this.paginate.recordsPerPage, 
                currentPage:this.paginate.page
            }; let i = index">
                <td> {{ offer.article.name }}</td>
                <td> {{ offer.article.stock }}</td>
                <td>{{ offer.discountPercentage }}%</td>
                <td>{{offer.startDate | date: 'dd/MM/yyyy' }}</td>
                <td>{{offer.endDate | date: 'dd/MM/yyyy' }}</td>
                <td>
                    <button class="btn btn-primary" (click)="openDialogUpdate(offer)" title="Editar"> 
                        <i class="bi-pencil-square"></i>
                    </button>
                </td>
                <td><button class="btn btn-danger" (click)="openDialogDelete(offer.id)" title="Eliminar"> 
                        <i class="bi bi-trash3"></i>
                    </button>
                </td>
                
            </tr>
        </tbody>
    </table>
    <pagination-controls class="text-center data-user" (pageChange)="this.paginate.page = $event"
        previousLabel="Anterior" nextLabel="Siguiente" *ngIf="offers.length > 6">
    </pagination-controls>
</div>
